@font-face {
  font-family: "Duplex-Sans-Regular";
  src: local("Duplex-Sans-Regular"),
    url(../../../fonts/Duplex-Sans-Regular.otf) format("truetype");
}

@import "../../../less/ksf-colors.less";

html,
body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.corona-container {
  display: flex;
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  height: 50px;
  color: #3e3e3e;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  background-color: #eceae6;
  padding: 10px 5px;
}

.container-header {
  display: flex;
}

.banner-title {
  font-family: "Duplex-Sans-Regular";
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
}

.virus-image {
  width: 22px;
  margin-left: 5px;
}

.stat {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-value {
  font-size: 0.875rem;
  font-weight: 700;
  background-color: #eceae6;
  color: #3e3e3e;
}

.stat-label {
  text-transform: uppercase;
  font-size: 0.5rem;
  line-height: 1.5;
}

.stat-percent {
  font-size: 0.875rem;
  font-weight: normal;
}

.mobile-hidden {
  display: none;
}

.chevron-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  align-self: stretch;
  width: 15px;
  background-color: #B0AAA4;
}

.chevron-right {
  filter: invert(92%) sepia(10%) saturate(494%) hue-rotate(316deg)
    brightness(109%) contrast(85%);
  transform: rotate(270deg);
  width: 15px;
  position: relative;
  bottom: 2px;
}

@media (min-width: 768px) {
  .corona-container {
    height: 67px;
  }

  .content-container {
    padding: 10px 15px 10px 15px;
  }

  .banner-title {
    font-size: 1.2rem;
  }

  .mobile-hidden {
    display: initial;
  }

  .stat {
    align-self: center;
  }

  .stat-value,
  .stat-percent {
    font-size: 1.2rem;
  }

  .stat-label {
    font-size: 0.875rem;
  }

  .virus-image {
    width: 35px;
    margin-left: 15px;
  }

  .chevron-container {
    width: 20px;
  }

  .chevron-right {
    width: 20px;
  }
}
