@font-face {
  font-family: "Roboto";
  src: url("https://cdn.ksfmedia.fi/assets/fonts/Roboto-Regular-webfont.woff2") format("woff2"),
    url("https://cdn.ksfmedia.fi/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("https://cdn.ksfmedia.fi/assets/fonts/Roboto-Bold-webfont.woff2") format("woff2"),
    url("https://cdn.ksfmedia.fi/assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("https://cdn.ksfmedia.fi/assets/fonts/RobotoSlab-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Duplex Sans Bold";
  src: url("https://cdn.ksfmedia.fi/assets/fonts/Duplex-Sans-Web-Bold.woff2") format("woff2"),
    url("https://cdn.ksfmedia.fi/assets/fonts/Duplex-Sans-Web-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Duplex Sans Light";
  src: url("https://cdn.ksfmedia.fi/assets/fonts/Duplex-Sans-Web-Light.woff2") format("woff2"),
    url("https://cdn.ksfmedia.fi/assets/fonts/Duplex-Sans-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Duplex Serif Bold";
  src: url("https://cdn.ksfmedia.fi/assets/fonts/Duplex-Serif-Web-Bold.woff2") format("woff2"),
    url("https://cdn.ksfmedia.fi/assets/fonts/Duplex-Serif-Bold.otf") format("opentype");
  font-weight: 700;
}

:root {
  --color-caption: #686868;
  --color-border: #dbd3d3;
  --color-article-date: #6c6c6c;
  --color-article-item-heading: #464646;
  --color-card-bg: #fff;
  --color-card-border: #d8d8d8;
  --color-bg: #fff;
  --color-footer: rgb(19, 19, 19);
}

[data-theme="dark"] {
  --color-caption: #dbdbdb;
  --color-border: #a19696;
  --color-article-date: #c6c1c1;
  --color-article-item-heading: #fff;
  --color-card-bg: #313639;
  --color-card-border: rgb(19, 19, 19);
  --color-bg: #313639;
  --color-footer: #fff;
}

/* Try to remove grey background sometimes present on hyperlinks */
a {
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

body.darkMode {
  background-color: #2b2b2b;
}

.container-fluid.article {
  overflow-x: visible;
  max-width: 650px;
}

.headerImage {
  width: 100%;
}

.headerImage img {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.article .content h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

.article {
  padding-bottom: 20px;
  overflow-x: hidden;
}

.title {
  color: #333;
  line-height: 30px;
  font-family: "Duplex Serif Bold", serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0px;
}

.article .content .author {
  color: #f07e26;
}

.article .content a {
  color: #f07e26;
}

.article .info .date {
  color: #999;
}

.caption {
  color: var(--color-caption);
  margin-top: 5px;
  font-size: 0.95rem;
}

.preamble {
  font: 300 1.4rem/1.2 "Duplex Sans Light",sans-serif;
}

.article .content h2,
h3,
h4,
h5,
h6 {
  padding-top: 10px;
  font-size: 1.25em;
}

.article .content iframe {
  overflow: hidden;
}

.loading-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.loading {
  border-radius: 50%;
  margin: 10px;
  height: 50px;
  width: 50px;
  transform: scale(8);
}

@keyframes pulse-hbl {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #f07e26;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-on {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #518196;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-vn {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #c90c0f;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.loading-hbl {
  animation: pulse-hbl 2s infinite;
  background-image: url("./assets/images/app-loader-hbl.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.loading-on {
  animation: pulse-on 2s infinite;
  background-image: url("./assets/images/app-loader-on.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.loading-vn {
  animation: pulse-vn 2s infinite;
  background-image: url("./assets/images/app-loader-vn.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.loading-wrapper img {
  width: 50px;
}

/*Ads*/
#hbl\/hbl_mobparad,
#hbl\/hbl_mobmitt,
#hbl\/hbl_digihelmob,
#hbl\/hbl_mobbox1,
#on\/on_mobparad,
#on\/on_mobmitt,
#on\/on_digihelmob,
#on\/on_mobbox1,
#vn\/vn_mobparad,
#vn\/vn_mobmitt,
#vn\/vn_digihelmob,
#vn\/vn_mobbox1 {
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 100%;
  display: grid;
  justify-content: center;
}

.ksfDFPadHeader {
  width: 100% !important;
  text-align: center;
  border-bottom: 1px solid #cbcbcb;
  line-height: 0.1em;
  margin: 25px 0 10px 0;
  color: #9b9b9b;
  font-size: 12px !important;
  text-transform: uppercase;
  padding-top: 4px;
}

.ksfDFPadHeader span {
  background: white;
  padding: 0 10px;
}

.infogram-embed {
  margin-top: 20px;
}

.genericBox {
  padding: 10px;
  background: #f7f6f5;
  size: 16px;
  margin-bottom: 20px;
  height: 248px;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

.genericBox-border-hbl {
  border-top: 5px solid #f07e26;
  border-bottom: 2px solid #f07e26;
}

.genericBox-border-vn {
  border-top: 5px solid #c90c0f;
  border-bottom: 4px solid #c90c0f;
}

.genericBox-border-on {
  border-top: 5px solid #518196;
  border-bottom: 2px solid #518196;
}

.genericBox .genericBox-headline {
  text-transform: uppercase;
}

.genericBox .expand {
  background: #f7f6f5;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  /*opacity: .9;*/
}

.genericBoxAutoHeight {
  height: auto;
}

.genericBox .expandOpacity {
  background: #f7f6f5;
  padding: 10px;
  position: absolute;
  bottom: 47px;
  width: 100%;
  margin-left: -10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  opacity: 0.3;
}

.genericBox .expandOpacity2 {
  background: #f7f6f5;
  padding: 10px;
  position: absolute;
  bottom: 28px;
  width: 100%;
  margin-left: -10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  opacity: 0.5;
}

.expand i {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.expand .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 15px;
}

.expand span {
  margin-top: 4px;
}

.genericBox h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.35rem;
  font-family: "Duplex Sans Bold", sans-serif;
}

.genericBox-headline {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bolder;
}

.genericBox-headline.darkMode {
  color: rgba(255, 255, 255, 0.9);
}

.genericBox ul {
  padding-right: 0;
  padding-left: 0;
  list-style-type: none;
}

.genericBox li {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.genericBox li:last-child {
  border: 0px;
}

.html {
  margin-bottom: 16px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.premiumBox {
  padding: 10px;
  background-color: #eceae6;
  text-align: center;
}

.fade-premium::before {
  content: " ";
  display: block;
  background-color: var(--color-bg);
  width: 100%;
  position: absolute;
  bottom: 100%;
  height: 200px;
  -webkit-mask-image: linear-gradient(rgba(0,0,0,0),rgba(0, 0, 0, 1));
  mask-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  margin-bottom: 20px;
}

.ksf-prenpuff .btn-cta {
  font-family: "Duplex Sans Titling", sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #00a1ab;
}

.btn-cta {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.015em;
  padding: 12px;
  border-radius: 2px;
  text-transform: none;
  color: white !important;
  border: none;
  display: inline-block;
  background-color: #1f8720;
}

.articleTag {
  text-transform: uppercase;
  font-family: "Roboto Bold", sans-serif;
  font-size: 14px;
}

.brandColor-hbl {
  color: #f07e26;
}
.brandColor-vn {
  color: #c90c0f;
}
.brandColor-on {
  color: #518196;
}

.brandBg-hbl {
  background: #f07e26;
}
.brandBg-vn {
  background: #c90c0f;
}
.brandBg-on {
  background: #518196;
}

.border-hbl {
  border: solid #f07e26;
}
.border-vn {
  border: solid #c90c0f;
}
.border-on {
  border: solid #518196;
}

.beta {
  width: 98px;
  height: 37px;
  margin-top: 5px;
}

.footer {
  padding: 10px;
  text-align: center;
  background-color: var(--color-bg);
}

.footer h4, .footer strong, .footer small {
  color: var(--color-footer);
}

.footer h6 {
  color: black;
}

.articleDetails {
  margin-top: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  color: var(--color-caption);
  font-family: Roboto Condensed, sans-serif;
}

.articleDetails .author {
  font-size: 14px;
}

.articleDetails .author-title {
  font-size: 13px;
}

.articleDetails .pubDate {
  font-size: 12px;
}

.st2 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 4;
}

.article-element__related {
  display: block;
  margin: 30px auto;
  padding: 0 30px 0 15px;
}

.article-element__related ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.article-element__related ul li {
  border-left: 4px solid;
  margin-bottom: 3px;
}

#HBL .article-element__related ul li {
  border-color: #f07e26;
}

#VN .article-element__related ul li {
  border-color: #c90c0f;
}

#ON .article-element__related ul li {
  border-color: #518196;
}

#BRAND-NEUTRAL .article-element__related ul li {
  border-color: #00A1AB !important;
}

.article-element__related ul li a {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  color: var(--text-color-darker);
}

.article-element__related ul li:first-child {
  margin-top: 5px;
}

.article-element__related ul::before {
  content: "LÄS OCKSÅ";
}

#HBL .article-element__related ul::before {
  color: #f07e26;
}

#VN .article-element__related ul::before {
  color: #c90c0f;
}

#ON .article-element__related ul::before {
  color: #518196;
}

#BRAND-NEUTRAL .article-element__related ul::before {
  color: #00A1AB !important;
}

.content .image p i {
  color: var(--color-caption);
  margin-top: 5px;
  font-size: 0.813em;
  font-style: normal;
}

.content .image p {
  color: var(--color-caption);
  font-size: 0.9em;
}

.premiumBadge {
  color: white;
  padding: 3px 3px 2px;
  width: auto;
  font-size: 10px;
  margin-top: 1px;
  font-family: sans-serif;
}

.relatedArticles h3 {
  font-family: "Duplex Sans Bold", sans-serif;
  color: #363636;
}

.relatedArticles .articleItem {
  font-family: "Duplex Serif Bold", serif;
  color: #323232;
}

.quotePlaceHolder {
  border-top: 1px solid #e4e1e1;
  border-bottom: 1px solid #e4e1e1;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #464646;
  margin-bottom: 10px;
  margin-top: 10px;
}

.quotePlaceHolder .quote {
  font-size: 22px;
  font-family: "Duplex Sans Bold", sans-serif;
  color: #6c6c6c;
}

.quotePlaceHolder .thojzat svg {
  margin-top: 10px;
  width: 30px;
}

.quote-hbl svg {
  fill: #f07e26;
}

.quote-on svg {
  fill: #518196;
}

.quote-vn svg {
  fill: #c90c0f;
}

.articleImage {
  margin-top: 3px;
  margin-bottom: 10px;
  text-align: right;
  min-height: 150px;
}

.listImageContainer {
  text-align: right;
}

.listImage {
  margin-top: 3px;
  margin-bottom: 10px;
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}

.listTitle {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.2;
}

.articleItemDetails {
  margin-top: 5px;
  margin-bottom: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.articleItemDetails .category {
  display: inline-block;
  margin-right: 12px;
  font-weight: bold;
  word-break: break-all;
}

.date {
  color: var(--color-article-date);
  display: inline-block;
}

@media screen and (min-width: 380px) {
  .listImage {
    height: 6rem;
    width: 6rem;
  }

  .listTitle {
    font-size: 18px;
  }

  .articleItemDetails {
    font-size: 15px;
  }
}

@media screen and (min-width: 475px) {
  .listImage {
    height: 8rem;
    width: 8rem;
  }

  .listTitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 570px) {
  .listImage {
    height: 9rem;
    width: 9rem;
  }

  .listTitle {
    font-size: 26px;
  }
}

.authorProfilePic {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.html iframe {
  width: 100%;
}

.html iframe {
  border: 0;
}

.articleItem {
  padding-top: 7px;
  border-top: 1px solid #a8a8a8;
}

.article-premium-badge {
  position: absolute;
  bottom: -3px;
  left: 0px;
}

.article-main-image {
  position: relative;
}


.article-opinion-type {
  font-size: 14px;
  font-weight: 700;
}

.advertorial-top-box-left {
  background-color: #c4e4e6;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.95em;
  padding: 10px 20px 9px;
  margin-bottom: 10px;
}

.mobileView {
  display: block;
}

.relatedArticles .articleItem a.darkMode {
  color: rgba(255, 255, 255, 0.9);
}

.ksf-bright-star {
  background-image: url("./assets/images/star-fill.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-bottom: -2px;
}

.ksf-dim-star {
  background-image: url("./assets/images/star-empty.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-bottom: -2px;
}

.headline-question {
  margin-bottom: 2px;
  font-size: 1.06em !important;
  font-weight: bolder;
}

.text-footnote {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid rgb(158, 158, 158);
}

.text-footnote.darkMode {
  color: rgba(255, 255, 255, 0.9);
}

.article .hbl a {
  color: #f07e26;
}

.article .on a {
  color: #518196;
}

.article .vn a {
  color: #c90c0f;
}

.article.darkMode {
  background-color: #313639;
}

.title.darkMode {
  color: rgba(255, 255, 255, 0.9);
}

.preamble.darkMode {
  color: rgba(255, 255, 255, 0.9);
}

.html.darkMode {
  color: rgba(255, 255, 255, 0.9);
}

.quote.darkMode {
  color: rgba(255, 255, 255, 0.70);
}

.headline.darkMode {
  color: rgba(255, 255, 255, 0.9);
}

.genericBox.darkMode {
  background-color: #2b2b2b;
}

.factboxList.darkMode {
  color: rgba(255, 255, 255, 0.9);
}

.faktBoxdarkMode {
  color: rgba(255, 255, 255, 0.9);
}

.latest.darkMode {
  color: rgba(255, 255, 255, 0.9);
}

.expand.darkMode {
  background-color: #2b2b2b;
}

.expandOpacity.darkMode {
  display: none;
}

.expandOpacity2.darkMode {
  display: none;
}

.login.darkMode {
  background-color: #2b2b2b;
}

.login.darkMode .center {
  color: rgba(255, 255, 255, 0.9);
}

.ksfMedia.darkMode {
  color: rgba(255, 255, 255, 0.9);
}

html iframe {
  background: white;
  border: 0;
}

.login.darkMode label {
  color: rgba(255, 255, 255, 0.9);
}

.premiumSection.darkMode label {
  color: rgba(255, 255, 255, 0.9);
}

.premiumSection strong {
  color: black;
}

.premiumSection.darkMode strong {
  color: rgba(255, 255, 255, 0.9);
}

.premiumSection.darkMode > .login-form.pt2 .center {
  color: rgba(255, 255, 255, 0.9);
}

.title-xs {
  line-height: 1;
  font-size: 2rem;
}

.title-sm {
  line-height: 1;
  font-size: 2.2rem;
}

.title-md {
  line-height: 1;
  font-size: 2.35rem;
}

.title-lg {
  line-height: 1;
  font-size: 2.45rem;
}

.title-xl {
  line-height: 1;
  font-size: 2.6rem;
}

.additional-xs {
  line-height: 1.2;
  font-size: 1.4rem;
}

@media screen and (min-width: 570px) {
  .additional-xs {
    font-size: 1.5rem;
  }
}

.additional-sm {
  line-height: 1.2;
  font-size: 1.45rem;
}

@media screen and (min-width: 570px) {
  .additional-sm {
    font-size: 1.55rem;
  }
}

.additional-md {
  line-height: 1.2;
  font-size: 1.5rem;
}

@media screen and (min-width: 570px) {
  .additional-md {
    font-size: 1.6rem;
  }
}

.additional-lg {
  line-height: 1.2;
  font-size: 1.6rem;
}

@media screen and (min-width: 570px) {
  .additional-lg {
    font-size: 1.7rem;
  }
}

.additional-xl {
  line-height: 1.2;
  font-size: 2rem;
}

@media screen and (min-width: 570px) {
  .additional-xl {
    font-size: 2.1rem;
  }
}

.content-xs {
  line-height: 1.5;
  font-size: 1.1rem;
}

.content-sm {
  line-height: 1.5;
  font-size: 1.15rem;
}

.content-md {
  line-height: 1.5;
  font-size: 1.2rem;
}

.content-lg {
  line-height: 1.5;
  font-size: 1.3rem;
}

.content-xl {
  line-height: 1.5;
  font-size: 1.6rem;
}

.caption-xs {
  font-size: 0.95rem;
}

.caption-sm {
  font-size: 1.1rem;
}

.caption-md {
  font-size: 1.15rem;
}

.caption-lg {
  font-size: 1.2rem;
}

.caption-xl {
  font-size: 1.3rem;
}

.adv-link,
.adv-link:hover {
  display: block;
  padding: 0.75rem;
  color: black;
  text-decoration-line: none;
  background-color: #fff3e6;
}

.adv-link.darkMode,
.adv-link.darkMode:hover {
  background-color: #27797e;
  color: #ffffff;
}

.adv-annons-container {
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  font-family: "Duplex Serif", ui-serif, Georgia, Cambria, Times, serif;
}

.adv-annons-text {
  margin-right: 0.25rem;
  color: rgb(109, 117, 115);
  font-family: Roboto, ui-sans-serif, system-ui, -apple-system, Neue, Arial, sans-serif;
}

.adv-annons-text.darkMode {
  color: #ffffff;
}

.adv-annons-company {
  margin-right: 0.25rem;
  color: black;
  font-family: "Duplex Serif", ui-serif, Georgia, Cambria, Times, serif;
}

.adv-annons-company.darkMode {
  color: #ffffff;
}

.adv-image-container {
  display: flex;
  overflow-y: hidden;
  align-items: center;
  width: 100%;
  max-height: 24rem;
}

.adv-image {
  overflow-y: hidden;
  width: auto;
  max-width: 100%;
}

.adv-title {
  margin-top: 0.75rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  overflow-wrap: break-word;
  font-family: "Roboto Slab", ui-sans-serif, system-ui, -apple-system, Neue, Arial, sans-serif;
}
