@import (reference) '../less/ksf-variables';

.account-edit--actions-container {
    margin-top: 0;
    @media @to-xlarge {
        margin-top: 1.5em;
    }
    @media @to-medium {
        margin-top: 0;
    }
    @media @to-xsmall {
        margin-top: 1.5em;
    }
}