@import (reference) 'ksf-colors';
@import (reference) 'ksf-variables';
@import 'ksf-fonts';
@import 'Components';

.ksf-embed--youtube {
    width: 100%;
    max-width: 480px;
}

.ksf-embed--vimeo {
    width: 100%;
    max-width: 640px;
}
