.cancel-subscription--container {
    h3 { margin-top: 0 };
    justify-content: flex-end;

}

.cancel-subscription--close-icon {
    justify-content: right;
    align-items: center;
    height: 1.5em;
    .close-icon {
	cursor: pointer;
    }
}

.cancel-subscription--container .input-field--radio-container {
    clear: both;
}
