.credit-card-update--register-terminal {
    min-height: 330px;
}

.credit-card-update--container {
    h3 { margin-top: 0 };
    justify-content: flex-end;

}

.credit-card-update--close-icon {
    justify-content: right;
    align-items: center;
    height: 1.5em;
    .close-icon {
	cursor: pointer;
    }
}