@import (reference) 'ksf-variables';
@import (reference) 'ksf-colors';

.footer--paper-images {
    a {
	margin-left: 5em;
	@media @to-small {
	    margin-left: 2em;
	}
	&:first-child {
	    margin-left: 0;
	}
	img {
	    opacity: .4;
	    height: 7vw;
	    max-height: 40px;
	}
    }
}

.footer--ksf-address {
    @media @to-small {
	display: block;
    }
}

.footer--address-separator {
    margin-left: 1em;
    margin-right: 1em;
    @media @to-small {
	display: none;
    }
}

.footer--ksf-logo {
    max-width: 100px;
}

.footer--break {
    border: 0;
    height: 1px;
    background: @grey-almostlight;
    margin-top: 2em;
    margin-bottom: 2em;
}

.footer--ksf-address {
    div {
	@media @to-small {
	    margin: .5em;
	}
    }
}
