@path-fonts: '../fonts';

@font-face {
    font-family: 'Duplex Sans';
    src: url('@{path-fonts}/Duplex-Sans-Light.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'Duplex Sans';
    src: url('@{path-fonts}/Duplex-Sans-Regular.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Duplex Sans';
    src: url('@{path-fonts}/Duplex-Sans-Semibold.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Duplex Serif Web';
    src: url('@{path-fonts}/Duplex-Serif-Web-Bold.eot');
    src: url('@{path-fonts}/Duplex-Serif-Web-Bold.eot?#iefix') format('embedded-opentype'),
    url('@{path-fonts}/Duplex-Serif-Web-Bold.woff2') format('woff2'),
    url('@{path-fonts}/Duplex-Serif-Web-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Duplex Sans Web';
    src: url('@{path-fonts}/Duplex-Sans-Web-Bold.eot');
    src: url('@{path-fonts}/Duplex-Sans-Web-Bold.eot?#iefix') format('embedded-opentype'),
    url('@{path-fonts}/Duplex-Sans-Web-Bold.woff2') format('woff2'),
    url('@{path-fonts}/Duplex-Sans-Web-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('@{path-fonts}/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('@{path-fonts}/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}
