@import (reference) 'ksf-colors';

.close-icon {
    display: block;
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-image: url('../images/icon-close-lg.svg');
    background-size: 30px;
}

.button-green {
    &:disabled { background: grey }
    background: green;
    color: @white;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
}
