// z-index values
@loading: 1;

// breakpoint sizes follow basscss defaults
@xsmall: 30em;
@small: 40em;
@medium: 52em;
@large: 64em;
@xlarge: 86em;

@to-xsmall: ~"only screen and (max-width: @{xsmall})";
@from-xsmall: ~"only screen and (min-width: @{xsmall})";

@to-small:  ~"only screen and (max-width: @{small})";
@from-small:  ~"only screen and (min-width: @{small})";

@to-medium: ~"only screen and (max-width: @{medium})";
@from-medium: ~"only screen and (min-width: @{medium})";

@to-large:  ~"only screen and (max-width: @{large})";
@from-large:  ~"only screen and (min-width: @{large})";

@to-xlarge: ~"only screen and (max-width: @{xlarge})";
@from-xlarge: ~"only screen and (min-width: @{xlarge})";
