@import (reference) 'ksf-colors';
@import (reference) 'ksf-variables';
@import 'ksf-fonts';
@import 'Components';

body {
    font-family: 'Duplex Sans', sans-serif;
    font-weight: 300;
    background-color: @grey-light;
    margin: 0;
}
