@import (reference) 'ksf-colors';
@import (reference) 'ksf-variables';

@icon-triangle-down: '../images/icon-triangle-down.svg';
@z-index-navbar: 3;
@nav-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);

.nav--need-help {
    padding-bottom: 5px;
}

.nav--phone-symbol, .nav--user-symbol, .nav--sign-out-symbol {
    width: 35px;
}

.nav--language-select {
    select {
        max-width: 100%;
        font-weight: 400;
        font-family: 'Duplex Sans', sans-serif;
        font-size: 1em;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 8px 36px 8px 8px;
        background: url(@icon-triangle-down) no-repeat @nude;
        background-position: right 24px center;
        background-size: 8px;
        border: none;
        border-radius: 5px;
    }
}

.nav--navbar {
    background: @white;
    width: 100%;
    position: relative;
    z-index: @z-index-navbar;
    @media @from-medium {
        box-shadow: @nav-box-shadow;
    }
}

// .nav--paper-logo {
//     height: 38px;
// }

.nav--logo-container {
    text-align: right;
    @media @to-xsmall {
        margin-left: 1em;
    }
    @media @to-medium {
        text-align: center;
    }
}

.nav--sign-out {
    font-size: 1.2em;
    font-weight: 400;
}

.nav--right-uncollapsed-content .nav--sign-out-container {
    height: 60px;
}

.nav--sign-out-container {
    height: 40px;
    cursor: pointer;
}

.nav--hamburger-button {
    display: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    @media @to-medium { display: block; }
    @media @to-xsmall { margin-right: 1em; }
}

.nav--hamburger-stripe {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
}

.nav--right-container {
    color: @grey-dark;
    font-size: 0.9em;
    @media @to-medium {
        width: auto !important;
        justify-content: flex-end !important;
    }
    @media @from-large {
        width: calc(6/12 * 100%);
        justify-content: flex-end;
    }
    @media @to-xlarge {
        width: calc(9/12 * 100%);
        justify-content: center;
    }
}

.nav--right-uncollapsed-content {
    justify-content: flex-end;
    @media @to-medium { display: none; }
}

// .nav--nav-container {
//     position: relative;
// }

.nav--nav-container {
    display: grid;
    grid-template-columns: [margin-left] 21% [logo] 1fr [need-help] 1fr [logout-button] 100px [margin-right] 21%;
    grid-column-gap: 2em;
    align-items: center;
    height: 100px;
    background: @white;
    width: 100%;
    position: relative;
    z-index: @z-index-navbar;
    @media @from-medium {
        box-shadow: @nav-box-shadow;
    }
}

.nav--paper-logo {
    grid-column-start: logo;
    align-self: center;
    height: 38px;
}

.nav--need-help {
    grid-column-start: need-help;
    // align-self: center;
    justify-self: end;
}

.nav--logout-button {
    grid-column-start: logout-button;
    // align-self: center; // Vertical position on grid
    justify-self: end; // Horizontal position on grid
    // display: grid;
    // grid-auto-flow: column; /* default */
    img { width: 35px; }

    display: flex;
    align-items: center; // Vertical position on flexbox

    font-size: 1.2em;
    font-weight: 400;
}
