@import (reference) '../less/ksf-colors';
@import (reference) '../less/ksf-variables';
@import '../less/ksf-fonts';

body {
    font-family: 'Duplex Sans', sans-serif;
    font-weight: 300;
    background-color: @grey-light;
    margin: 0;
}

h2 {
    font-family: 'Duplex Serif Web';
    color: @grey-dark;
    font-size: 2.75em;
}

h4 {
    font-family: 'Duplex Serif Web';
    color: @grey-dark;
    font-size: 1.75em;

}

.prenumerera--choose-paper {
    span {
        color: @grey-medium
    }
    a {
        color: @grey-medium;
        text-decoration: none;
        outline: none;
    }
    a.active, a:hover {
        color: @grey-dark;
        border-bottom: 3px solid;
        &.hbl {
            border-bottom-color: @hbl-orange;
        }
        &.vn {
            border-bottom-color: @vn-red;
        }
        &.on {
            border-bottom-color: @on-blue;
        }
        &.hthl {
            border-bottom-color: @ht-yellow;
        }
    }
}

h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: @grey-mediumdark;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: center;
}

.prenumerera--package {
    background-color: @nude;
    border-radius: 5px;
    h2 {
        font-size: 1.75em;
    }
}

.prenumerera--package-days {
    font-family: 'Duplex Serif Web';
    background-color: @grey-almostlight;
}

.prenumerera--package-description {
  img {
      width: 95%;
      height: 95%;
  }
}

.prenumerera--package-check-list {
    list-style-image: url('../images/check.svg');
    text-align: left;
    font-size: .875rem;
    list-style-position: inside;
    padding: 0;
    p {
        display: inline;
    }
    li {
        padding-bottom: 1em;
        padding-top: 1em;
        padding-left: 1em;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    }
    ul {
        padding-bottom: 2em;
    }
}

.prenumerera--button-link {
    font: 500 1.25rem "Roboto", sans-serif;
    text-decoration: none;
    color: white;
    outline: none;
    display: flex;
    width: 70%;
    justify-content: center;
    span {
        pointer-events: none;
        background-color: green;
        color: white;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        line-height: 40px;
    }
    &:hover span {
        background-color: #009b0c;
    }

    &.disabled {
        pointer-events: none;
        span {
            background-color: gray;
        }
    }

}

.ksf-block {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 90px;
    margin-bottom: 30px;
    h3 {
        font-family: 'Duplex Sans Web';
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 5px;
        margin-top: 0;
        color: @grey-mediumdark;
    }
    >h2, >h3{
        text-align: center;
    }
    &.last{
        padding-bottom: 0;
    }
}

.prenumerera--title {
    margin-bottom: 1em;
    line-height: 2.2rem;
    h2 {
        font-size: 2.75em;
    }
    span {
        border-bottom: 3px solid;
        &.hbl {
            border-bottom-color: @hbl-orange;
        }
        &.vn {
            border-bottom-color: @vn-red;
        }
        &.on {
            border-bottom-color: @on-blue;
        }
        &.hthl {
            border-bottom-color: @ht-yellow;
        }
    }
}

.prenumerera--input {
    text-align: left;
    input {
        width: 80%;
        display: block;
    }
    label {
        font-weight: 400;
    }
}

.prenumerera--input-row {
    padding: 10px;
}

.prenumerera--payment-select {
    width: 100%;
}

.prenumerera--break {
    border: 0;
    height: 1px;
    background: #dfdad6;
    margin-top: 1em;
    margin-bottom: 1em;
}

.prenumerera--accept-terms {
    margin: 20px;
}

.prenumerera--confirm-summary {
    padding: 10px;
    border: solid 1px #e0e0e0;
    background-color: #f0f0f0;
    ul {
        list-style-type: none;
        padding-left: 0px;
        margin-top: 0;
    }
}

.prenumerera--confirm-summary-title {
    background: #ccc;
    padding: 2px;
    text-align: center;
    margin-bottom: 15px;
}
