#forgot-password-page {
  @media(max-width: @medium) {
    padding-left: 10px;
    padding-right: 10px;
  }

  max-width: 500px;
  max-width: 100%;
  margin: 0 auto 50px;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }

  .success {
    p {
      color: green;
      font-weight: 500;
      width: 345px;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .fail {
    p {
      color: @alert-danger;
      font-weight: 500;
    }
  }

  #forgot-password-form, #change-password-form {
    position: relative;
    max-width: 100%;
    margin: 30px auto 0px;

    &.processing:after {
      background-color: white;
    }

    &#forgot-password-form {
      width: 400px;

      label {
        input {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          padding-right: 90px;
        }
      }
    }

    &#change-password-form {
      text-align: left;
      width: 320px;
    }
  }

  .password--reset-field {
    margin-top: 1em;
  }

  .tiny-spinner {
    margin-left: auto;
    margin-right: auto;
  }

  .success-text {
      margin-bottom: 1em;
  }
}
