.route-wrapper {

    margin-right: 1em;
    margin-left: 1em;

    .close-button {
        align-items: flex-end;
        flex-direction: column;
        height: 1.5em;
        .close-icon {
            cursor: pointer;
        }
    }
}