.search--search-results {
    margin-top: 1em;
}

.search--results-table {
    width: 100%;
}

.search--results-table td a {
    display: block;
}

.search--result-subsno-column {
    text-align: right;
}

.search--spinner-container {
    width: 0%;
    margin: 0 auto;
}

.search--item.selectable {
    cursor: pointer;
}

.search--result-expired {
    font-style: italic;
}

.search--item-identity {
    background: skyblue;
}

.search--create-account {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr .5fr;
    grid-auto-flow: column;
}
