.search--search-results {
    margin-top: 1em;
}

.search--results-table {
    width: 100%;
}

.search--results-table td a {
    display: block;
}

.search--result-subsno-column {
    text-align: right;
}

.search--spinner-container {
    width: 0%;
    margin: 0 auto;
}

.search--item.unselectable {
    color: @grey-medium;
}

.search--item.selectable {
    cursor: pointer;
}
