.spinner--loading-spinner__with-message {
  display: grid;
  justify-content: center;
}

.spinner--animated-spinner {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    background-color: @hbl-orange;
    #HBL & {
      background-color: @hbl-orange;
    }
    #ON & {
      background-color: @on-blue;
    }
    #VN & {
      background-color: @vn-red;
    }

    border-right: 0px solid #aaa;
    width: 16px;
    height: 16px;
    animation: spinner 2.77s linear infinite;
  }

  @keyframes spinner {
    0% {
      border-right-width: 0px;
      transform: rotate(0deg);
    }

    5% {
      transform: rotate(0deg);
    }

    30% {
      transform: rotate(180deg);
    }

    35% {
      border-right-width: 0px;
    }

    45% {
      border-right-width: 16px;
    }

    55% {
      transform: rotate(180deg);
    }

    80% {
      transform: rotate(360deg);
    }

    85% {
      border-right-width: 16px;
    }

    95% {
      border-right-width: 0px;
    }

    100% {
      border-right-width: 0px;
      transform: rotate(360deg);
    }
  }
}
