@import (reference) 'ksf-colors';
@import (reference) 'ksf-variables';
@import 'Components';
@import 'Product';
@import 'Spinner';

.vetrina--new-purchase-container {
  background-color: var(--vetrina-background, white);
  .spinner--loading-spinner {
    background-color: var(--vetrina-background, white);
  }
}

.vetrina--new-purchase-temporary-user-email{
  background: var(--vetrina-background, white);
}

.vetrina--new-purchase-bg-img{
  filter: drop-shadow(0 0 5px #fff);
}

input:not([type="submit"]) {
  &.vetrina--input-field {
    background-color: var(--vetrina-input-background);
    color: var(--vetrina-text-color);
  }
}
