@import (reference) 'ksf-colors';
@import (reference) 'ksf-variables';
@import 'ksf-fonts';
@import 'Components';
@import 'Product';
@import 'Spinner';

.vetrina--container {
    font-family: 'Duplex Sans', sans-serif;
    font-weight: 300;
    background-color: @nude;
    margin: 0;
    .spinner--loading-spinner {
	background-color: @nude;
    }
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(100px, 505px);
    h1, p { text-align: center }
    .vetrina--description-text:not(:first-of-type) {
	margin-top: 0;
    }
    padding-bottom: 1.5em;
}

.vetrina--product-description {
    text-align: center;
}

.vetrina--payment-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vetrina--payment-terminal {
    background: #fff;
    width: 550px;
    height: 360px;
    border: none;
}

.vetrina--form {
    max-width: 600px;
    display: grid;
    justify-items: center;
    margin-top: 1em;
    .input-field--container {
	width: 100%;
    }
}

.vetrina--checbox-container {
    display: flex;
    align-items: start;
    margin-top: 1em;
    input[type=checkbox] {
	margin-right: 1em;
    }
}

.vetrina--button {
    &:disabled {
	background: grey;
	&:hover { background-color: grey }
	cursor: auto;
    }
    &:hover { background-color: #00b9c4 }
    &:only-child {
	margin: 0;
    }
    font-family: 'Duplex Sans Titling', sans-serif;
    font-weight: bold !important;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.015em;
    background: @brand-neutral;
    color: @white;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
    margin-top: 2em;
    max-width: 250px;
    max-height: 3em;
    cursor: pointer;
}

.vetrina--links {
    margin-top: 2em;
    display: grid;
    text-align: center;
    grid-row-gap: 0.5em;
}

.vetrina--link {
  color: @brand-neutral;
  outline: 0;
  text-decoration: none;
}

.vetrina--login-callback {
  color: @brand-neutral;
  cursor: pointer;
}

.vetrina-purchase-completed--submit-password {
    &:disabled { background: grey }
    background: @brand-neutral;
    color: @white;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    margin-top: .5em;
}

.vetrina--purchase-error {
  border: .4em solid #DC001A;
}

.product--container {
    text-align: center;
}

.vetrina--completed-close {
    justify-self: center;
}

.vetrina--description-text {
    font-size: 1.2em;
}

// A wrapper to the input field to control the width
.vetrina--input-wrapper {
    width: 80%;
    @media @to-xsmall {
	width: 100%;
    }
}

.vetrina--temporary-user-email {
    text-align: center;
    margin-bottom: 1em;
}

.vetrina--product {
    background: @grey-light;
    border-style: solid;
    border-color: @grey-almostlight;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
    position: relative;
    margin-bottom: 1em;
    input[type="radio"] {
	outline: 0;
	display: none;
    }
}

.vetrina--product-radio-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #eee;
    margin-top: .5em;
    margin-left: .5em;
}

.vetrina--product-radio-button_checked {
    margin: 7px;
    top: 17px;
    left: 17px;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: none;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.18);
}

.vetrina--product:hover input ~ .vetrina--product-radio-button {
    background-color: #ccc;
}

.vetrina--product input:checked ~ .vetrina--product-radio-button {
    background-color: @brand-neutral;
}

.vetrina--product-radio-button:after {
    content: "";
    position: absolute;
    display: none;
}

.vetrina--product input:checked ~ .vetrina--product-radio-button > .vetrina--product-radio-button_checked {
    display: block;
}

.vetrina--product-title {
    font-weight: bold;
    margin-bottom: .5em;
}

.vetrina--product-description {
    text-align: left;
}

.vetrina--email-address-label {
    text-align: center;
    margin: 1em;
}

.vetrina--with-label {
    display: flex;
    flex-direction: column;
}

.vetrina--product-selection-text {
    margin-bottom: 1em;
}
