@import (reference) 'ksf-colors';
@import (reference) 'ksf-variables';
@import 'ksf-fonts';
@import 'Components';
@import 'plyr';

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
h1.title {
    color: #333;
    line-height: 30px;
    font-family: "DuplexSerifBold",sans-serif;
    font-size: 2rem;
    letter-spacing: 0;
}
.ksf-article--image {
    width: 100%;
}
.ksf-embed--youtube {
    width: 100%;
    max-width: 480px;
}

.ksf-embed--vimeo {
    width: 100%;
    max-width: 640px;
}
