node_modules
output
dist
build
.psc-package
.psci_modules
.cache
package-lock.json
.DS_Store

packages/*/index.js
apps/*/index.js
!apps/elections/index.js
!apps/mitt-konto/index.js
.env.production
yarn-error.log
.yarn-cache/
.spago/
.tern-port