node_modules
output
dist
build
.psc-package
.psci_modules
.cache
package-lock.json
.DS_Store
.parcel-cache

packages/*/index.js
!packages/article/index.js
apps/app-article/index.js
apps/*/output
.env.production
yarn-error.log
.yarn-cache/
.spago/
.parcel-cache
.tern-port
.psc-ide-port
.parcel-cache
.log
*.code-workspace