@import (reference) 'ksf-colors';

.registration--input {
    input, select {
        width: 100%;
        border-style: solid;
        border-width: 1px;
        border-color: @color-input-border;
        padding: 8px 10px 8px;
    }
}

.registration--input-label {
    text-align: left;
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.registration--create-button .button--blank-button {
    background: green;
}
