@import (reference) 'ksf-colors';
@import 'ksf-utils';

.pause-subscription--container {
    h3 { margin: 0 };
    input[type=text] {
        box-sizing: border-box;
        width: 100%;
    }
    border-style: solid;
    padding: 10px;
    border-width: 3px;
    border-color: @grey-almostlight;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
}

.pause-subscription--close-icon {
    justify-content: right;
    .close-icon {
        cursor: pointer;
    }
}

.pause-subscription--date-picker {
    width: 100%;
    .react-date-picker__wrapper {
        width: 100%;
        border-color: @grey-mediumlight;
        border-radius: 3px;
        padding: 3px;
    }
}
