@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
body {
  width: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background-color: green;
  color: white;
}
.start {
  background-color: orange;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  cursor: pointer;
}
.svarButton{
  background-color: orange;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.skipButton{
  background-color: darkgreen;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.start :hover {
  text-decoration: none;
}
h1 {
  font-weight: bold;
}
h2 {
  margin: 10px;
  margin-bottom: 30px;
  font-weight: 600;
}
.slimh2 {
  font-weight: 100;
  margin: 10px;
  margin-bottom: 30px;
}
.introImg {
  vertical-align: middle;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  .start {
    font-size: 25px;
    font-weight: 700;
  }
  .introImg {
    width: 125px;
    height: 125px;
  }
  .questionBtn {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}
@media (min-width: 576px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 40px;
  }
  .start {
    font-size: 35px;
    font-weight: 600;
  }
  .introImg {
    width: 150px;
    height: 150px;
  }
  .questionBtn {
    font-size: 18px;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 55px;
  }
  .start {
    font-size: 45px;
    font-weight: 400;
  }
  .introImg {
    width: 175px;
    height: 175px;
  }
  .introBtn {
    font-size: 45px;
    font-weight: 700;
  }
  .questionBtn {
    font-size: 18px;
    font-weight: 700;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 110px;
  }
  h2 {
    font-size: 65px;
  }
  .start {
    font-size: 55px;
    font-weight: 400;
  }
  .introImg {
    width: 200px;
    height: 200px;
  }
  .introBtn {
    font-size: 45px;
    font-weight: 700;
  }
  .questionBtn {
    font-size: 20px;
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 120px;
  }
  h2 {
    font-size: 70px;
  }
  .start {
    font-size: 60px;
    font-weight: 400;
  }
  .introImg {
    width: 250px;
    height: 250px;
  }
  .introBtn {
    font-size: 45px;
    font-weight: 700;
  }
  .questionBtn {
    font-size: 20px;
    font-weight: 700;
  }
}
.textRight {
  text-align: right;
}
.turn{
  position: absolute;
  transform-origin: 0% 50%;
  transform: scalex(1.5) scaley(0.8);
  margin-left: 5px;
}
.show-as-p{
  text-decoration: none;
  background: none;
}