.advertorial__top-bar {
  grid-area: separator;
  background-color: #fff3e5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  text-transform: uppercase;
  font-family: 'Roboto', serif;
  font-size: 0.75rem;
  margin: -12px -12px 0;
}

.advertorial__headline {
  font-family: 'Roboto Slab Bold', serif;
  font-size: 2rem;
  padding: 40px 20px 15px;
}

.advertorial__preamble {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  padding: 15px 20px 30px;
}

.advertorial__image {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
