@coverHBL: "https://www.e-pages.dk/hbl/teasers/3271/medium.jpg";
@coverVN: "https://www.e-pages.dk/vastranyland/teasers/3668/medium.jpg";
@coverON: "https://www.e-pages.dk/ostnyland/teasers/3669/medium.jpg";
@coverJunior: "https://www.e-pages.dk/hbljunior/teasers/12509/medium.jpg";

.mosaico-epaper {
  grid-area: main;

  @media (min-width: @breakpoint-3col) {
    grid-column-start: 2;
    grid-column-end: -2;
    padding: 0;
  }

  .mosaico-epaper--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    @media (min-width: @breakpoint-2col) {
      padding-top: 60px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  .mosaico-epaper--section:nth-of-type(2n + 1) {
    background: @nude;
    @media (min-width: @breakpoint-2col) {
      padding-bottom: 60px;
    }
  }

  .spinner--loading-spinner {
    background: transparent;
  }

  &--teaser {
    flex: 0 0 50%;
    font-weight: 300;
    width: 100%;
    height: auto;
    background-size: 83%;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width: 640px) {
      width: 50%;
    }
    @media (min-width: @breakpoint-2col) {
      flex-basis: 40%;
    }
    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }

    #HBL & {
      background-image: url("@{coverHBL}");
    }
    #VN & {
      background-image: url("@{coverVN}");
    }
    #ON & {
      background-image: url("@{coverON}");
    }
    &__junior {
      background-image: url("@{coverJunior}") !important;
    }
  }
  &--body {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    padding: 20px 30px 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    @media (min-width: 640px) {
      width: 70%;
    }
    h2 {
      margin-bottom: 30px;
      font-family: "Duplex Serif Web", serif;
      font-weight: 700;
      margin-top: 0.9375rem;
      letter-spacing: -0.015em;
      font-size: 2.5rem;
      line-height: 1;
    }
    p {
      margin-bottom: 20px;
    }
    li {
      text-align: initial;
    }
    ul {
      margin: 18px 0 18px 40px;
      list-style: initial;
    }
    a {
      font-weight: 400;
      text-decoration: none;
      outline: 0;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.015em;
      padding: 12px;
      border-radius: 2px;
      text-transform: none;
      cursor: pointer;
      display: inline-block;
      transition: color 0.2s linear;
      margin-left: 6px;
      margin-right: 6px;
    }
    a.mosaico-epaper--primary-button {
      color: white;
      border: solid 1px @primary-accent;
      background-color: @primary-accent;
    }
    a.mosaico-epaper--secondary-button:hover {
      opacity: 0.75;
    }
    a.mosaico-epaper--secondary-button {
      color: @grey-medium;
      padding: 5px;
      background-color: transparent;
      margin: 20px 0;
    }
  }

  &__liftup {
    background: #f7f5f3;
    margin-bottom: 10px;
    header {
      padding: 10px 0;
      text-align: center;
      h2 {
        font-size: 1.2rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
          content: "";
          width: 10px;
          height: 10px;
          margin-right: 5px;
          display: inline-block;
          background-color: #00a1ab;
        }
      }
    }
    &--cover {
      max-width: 100%;
      width: 300px;
      height: 300px;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      overflow: hidden;
      display: block;
      #HBL & {
        background-image: url("@{coverHBL}");
      }
      #VN & {
        background-image: url("@{coverVN}");
      }
      #ON & {
        background-image: url("@{coverON}");
      }
    }
    &--container {
      display: block;
    }
  }
}
