.mosaico-article__image {
    background: @grey-light;
    margin-bottom: 15px;
    img {
        width: 100%;
        height: auto;
    }
    .caption {
        color: @grey-medium;
        padding: 15px 10px;
        font: 400 .875rem/1.25rem 'Roboto', sans-serif;
        .byline {
            color: @grey-deepdark;
            font-weight: 600;
            margin-left: 5px;
        }
    }
}