.mosaico-article__image {
  margin-bottom: 15px;
  img {
    width: 100%;
    height: auto;
  }
  .caption {
    color: @grey-medium;
    padding: 5px 0;
    font: 400 0.875rem/1.25rem "Roboto", sans-serif;
    .byline {
      color: @grey-deepdark;
      font-weight: 600;
      margin-left: 5px;
    }
  }
}
