.premium-badge {
  display: inline-block;
  padding: 2px 5px 1px 5px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: .9rem;
  line-height: 0.9rem;

  #HBL & {
    background-color: @hbl-orange;
  }
  #VN & {
    background-color: @vn-red;
  }
  #ON & {
    background-color: @on-blue;
  }
}
