.premium-badge {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font: 400 0.9rem "Roboto", sans-serif;
  padding: 1px 4px;

  #HBL & {
    background-color: @hbl-orange;
  }
  #VN & {
    background-color: @vn-red;
  }
  #ON & {
    background-color: @on-blue;
  }
}
