.premium-badge {
  display: inline-block;
  height: 18.4px;
  width: 70px;
  text-transform: uppercase;
  color: white;
  font: 400 0.9rem/18.4px "Roboto", sans-serif;
  text-align: center;

  #HBL & {
    background-color: @hbl-orange;
  }
  #VN & {
    background-color: @vn-red;
  }
  #ON & {
    background-color: @on-blue;
  }
}
