.mosaico-article__some {
  display: flex;
  list-style: none;
  padding: 0;

  > li {
    a {
      padding: 5px;
      margin: 0;
      display: block;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  > li:first-of-type {
    a {
      padding-left: 0;
    }
  }
}