.mosaico-article__some-tags-group {
  display: flex;
  list-style: none;
  padding: 0;

  > li {
    a {
      padding: 5px;
      margin: 0;
      display: block;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}