.mosaico-article__tag {
    text-transform: uppercase;
    background: transparent;
    padding: 0;
    display: inline-block;
    font: 700 0.75rem "Roboto", sans-serif;
    text-decoration: none;

    #HBL & {
        color: @hbl-orange;
    }
    #VN & {
        color: @vn-red;
    }
    #ON & {
        color: @on-blue;
    }
}
