@import (reference) '../less/ksf-colors';
@import (reference) '../less/ksf-variables';
@import '../less/ksf-fonts';

body {
    font-family: 'Duplex Sans', sans-serif;
    font-weight: 300;
    background-color: @grey-light;
    margin: 0;
}

h2 {
    font-family: 'Duplex Serif Web';
    color: @grey-dark;
    font-size: 2.75em;
}

.subscribe-paper--choose-paper {
    span {
        color: @grey-medium
    }
    a {
        color: @grey-medium;
        text-decoration: none;
        outline: none;
    }
    a.active, a:hover {
        color: @grey-dark;
        border-bottom: 3px solid;
        &.hbl {
            border-bottom-color: @hbl-orange;
        }
        &.vn {
            border-bottom-color: @vn-red;
        }
        &.on {
            border-bottom-color: @on-blue;
        }
        &.hthl {
            border-bottom-color: @ht-yellow;
        }
        &.ls {
            border-bottom-color: @ls-blue;
        }
    }
}

h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: @grey-mediumdark;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: center;
}

.subscribe-paper--package {
    background-color: @nude;
    border-radius: 5px;
    h2 {
        font-size: 1.75em;
    }
}

.subscribe-paper--package-days {
    font-family: 'Duplex Serif Web';
    background-color: @grey-almostlight;
}

.subscribe-paper--package-description {
  img {
      width: 95%;
      height: 95%;
  }
}

.subscribe-paper--package-check-list {
    list-style-image: url('check.svg');
    text-align: left;
    font-size: .875rem;
    list-style-position: inside;
    padding: 0;
    p {
        display: inline;
    }
    li {
        padding-bottom: 1em;
        padding-top: 1em;
        padding-left: 1em;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    }
    ul {
        padding-bottom: 2em;
    }
}

.subscribe-paper--buy-now {
    font: 500 1.25rem "Roboto", sans-serif;
    span {
        cursor: pointer;
        background-color: green;
        color: white;
        border-radius: 5px;
        width: 70%;
        height: 40px;
        line-height: 40px;
        &:hover {
            background-color: #009b0c;
        }
    }
}

.ksf-block {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 90px;
    margin-bottom: 30px;
    h3 {
        font-family: 'Duplex Sans Web';
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 5px;
        margin-top: 0;
        color: @grey-mediumdark;
    }
    >h2, >h3{
        text-align: center;
    }
    &.last{
        padding-bottom: 0;
    }
}
.narrow{
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: @xsmall){
    .ksf-block{
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media screen and (min-width: @medium){
      &.narrow{
        padding-left: 120px;
        padding-right: 120px;
      }
}

.ksf-block-heroproducts,
.ksf-block-productmatrix {
    min-height: 1000px;
    background: @grey-light;
    .ksf-block{
        background: transparent;
    }
}

.subscribe-paper--title {
    margin-bottom: 1em;
    line-height: 2.2rem;
    h2 {
        font-size: 2.75em;
    }
    span {
        border-bottom: 3px solid;
        &.hbl {
            border-bottom-color: @hbl-orange;
        }
        &.vn {
            border-bottom-color: @vn-red;
        }
        &.on {
            border-bottom-color: @on-blue;
        }
        &.hthl {
            border-bottom-color: @ht-yellow;
        }
        &.ls {
            border-bottom-color: @ls-blue;
        }
    }
}

.ksf-block-hbl365{
  background-color: @hbl-orange;
  .ksf-block{
    background-color: transparent;
    background-image: url('https://customer.hbl.fi/images/new/backgrounds/ipad-transparent.png');
    background-size: 40%;
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;
    .hbl365-form{
      padding: 90px 30px 90px 140px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f07e26+0,f07e26+100&0+0,1+20 */
      background: -moz-linear-gradient(left, rgba(240,126,38,0) 0%, rgba(240,126,38,1) 20%, rgba(240,126,38,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(240,126,38,0) 0%,rgba(240,126,38,1) 20%,rgba(240,126,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(240,126,38,0) 0%,rgba(240,126,38,1) 20%,rgba(240,126,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f07e26', endColorstr='#f07e26',GradientType=1 ); /* IE6-9 */

      float: right;
      color: #fff;
      .cta-text{
        font-size: 2rem;
      }
      p.enter-your-email-text{
        color: #fff;
        font-size: 2rem;
      }
      form{
        input{
          color: @grey-medium;
          font-weight: bold;
          padding: 5px 5px 6px 5px;
          border: 0;
        }
      }
      p.already-registered-text{
        margin-top: 15px;
        color: #fff;
        font-size: 1rem;
      }
    }
  }
}
