.mosaico {
  display: grid;
  margin: 0 auto;
  min-height: 100%;
  max-width: calc(100% - @page-margin);
  grid-template-columns: minmax(0, 1fr); //minmax used to prevent grid blowout on static pages
  grid-row-gap: 8px;
  grid-template-areas:
    "headads"
    "line"
    "head"
    "separator"
    "search"
    "main"
    "article"
    "aside"
    "foot";

  @media (min-width: @breakpoint-3col) {
    max-width: 100%;
    grid-template-rows: auto auto 85px auto auto auto auto 500px;
    // don't use repeat, causes error
    grid-template-columns: 1fr @content-block @content-block @content-block 1fr;
    grid-template-areas:
      ". headads headads headads ."
      "line line line line line"
      ". head head head ."
      "separator separator separator separator separator"
      ". search search search ."
      ". main main aside ."
      ". article article article ."
      "foot foot foot foot foot";
  }
}

.mosaico--header {
  grid-area: head;
  background: @grey-light;
}

.mosaico--article-list {
  grid-area: main;
}

.mosaico--static-page-error {
  grid-area: main;
  h1 {
    font-size: 3.75rem;
    font: 700 3.75rem "Duplex Serif Web", serif;
    color: #333;
    margin: 1rem auto 1.5rem auto;
    letter-spacing: -0.015em;
  }
}

.mosaico--error-with-aside {
  grid-area: main;
  h1 {
    font-size: 3.75rem;
    font: 700 3.75rem "Duplex Serif Web", serif;
    color: #333;
    margin: 1rem auto 1.5rem auto;
    letter-spacing: -0.015em;
  }
}

.mosaico--footer {
  grid-area: foot;
  background: @grey-light;
}

.mosaico--aside {
  grid-area: aside;
  background: @grey-light;
}
