// Sticky footer
// (as defined here: https://css-tricks.com/couple-takes-sticky-footer/)

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr;
}

#app {
  display: grid;
}
