@import (reference) "../ksf-colors";

.mosaico-ad {
  text-align: center;
  &__content-unit {
    &.populated {
      margin: 10px 0;
      &::before {
        content: "— Annons —";
        font: 400 .75rem "Roboto", sans-serif;
        color: @grey-medium;
        text-transform: uppercase;
        display: block;
        margin: 0 auto 2px auto;
      }
      &::after {
        content: "— Annons slut —";
        font: 400 .75rem "Roboto", sans-serif;
        color: @grey-medium;
        text-transform: uppercase;
        display: block;
        margin: 2px auto 0 auto;
      }
    }
  }

  &.mosaico-ad__article-body-1,
  &.mosaico-ad__article-body-2 {
    margin: 10px auto 20px;
  }

  &.jattebox {
    text-align: center;
    margin: 30px auto;
  }
  &.mosaico-ad__top-parade {
    margin: 0 auto;
  }
  &.mosaico-ad__parade {
    margin: 0 auto;
    grid-area: separator;
  }
}
