@import (reference) "./header.less";
@import (reference) "./_grid.less";

.advertorial-top-banner {
  background: wheat;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 6;
  margin-top: -(@grid-row-gap + @separator-margin);
}
