@import (reference) "./header.less";
@import (reference) "./_grid.less";

.advertorial-top-banner {
  background: #fff4e6;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 6;
  margin-top: -(@mosaico-grid-row-gap + @separator-margin);
  display: grid;
  grid-template-columns: @mosaico-grid-columns;
}

.advertorial-top-banner__company {
    grid-column-start: 2;
    align-self: center;
}

.advertorial__tag-n-share {
    display: flex;
}

.advertorial-badge {
    color: black;
}
  .premium-badge {
      background-color: #dfdad5 !important;

  }
