.dre-item--placeholder {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  .dre-item__title {
    width: 100%;
    padding-top: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  // Show senast publicerat and andra läser at the bottom on this screen size,
  // not at the top
  .front > .dre-section {
    display: flex;
    flex-direction: column;
  }

  .dre-group--third-list-right {
    order: 1;
  }
}

@media (max-width: 767px) {
  div[data-sm="hidden"] {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  div[data-md="hidden"] {
    display: none;
  }
}
@media (min-width: 1000px) {
  div[data-lg="hidden"] {
    display: none;
  }
}

.dre-item--feature-advertorial .dre-item__header {
  // there's a pretty specific selector setting this to 400 in Aptoma's CSS...
  font-weight: 700 !important;
}

[data-placeholder="widget"] > .dre-item__title {
  visibility: hidden;
  > * {
    visibility: visible;
  }
}
