@import (reference) "../ksf-colors";

.article {
  grid-area: article;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "head"
    "image"
    "body";

  @media (min-width: @breakpoint-3col) {
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas:
      ".     head  ."
      "image image image"
      ".     body  body";
  }

  header {
    grid-area: head;
  }
  .image {
    grid-area: image;
  }

  .articlebody {
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "articlemetabyline"
      "articlebody";

    @media (min-width: @breakpoint-3col) {
      grid-template-columns: 1fr 300px;
      grid-template-areas:
        "articlemetabyline articlesidebar"
        "articlebody articlesidebar";
    }
  }

  .mosaico--article--body {
    grid-area: articlebody;
  }
  .mosaico-article-aside {
    grid-area: articlesidebar;
  }

  h1 {
    font: 700 1.92rem "Duplex Serif Web", serif;
    color: #333;
    margin-top: 0.9375rem;
    margin-bottom: 10px;
    letter-spacing: -0.015em;
    @media (min-width: @breakpoint-2col) {
      font-size: 2.75rem;
    }
    @media (min-width: @breakpoint-3col) {
      font-size: 3.75rem;
    }
  }
  p {
    font: 300 1rem/1.5rem "Roboto", sans-serif;
    margin-bottom: 1rem;
    color: @dark-text;
    &.question {
      font-size: 1.1rem;
      font-style: italic;
    }
    &.footnote {
      font-style: italic;
      color: @grey-mediumlight;
      &::before {
        content: "";
        display: block;
        margin: 10px auto 5px 0;
        width: 10%;
        height: 2px;
        background-color: @hbl-orange; // TODO: deal with other site's colours
      }
    }
  }
  q {
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    font: 1.5rem/1.5 "Duplex Serif Light Web", serif;
    text-align: center;
    color: @hbl-orange; // TODO: deal with other site's colours
    &::before {
      content: "";
      display: block;
      width: 20%;
      height: 2px;
      margin: 0 auto 15px auto;
      background-color: @hbl-orange; // TODO: deal with other site's colours
    }
  }
  h4 {
    font: 600 1rem/1.5rem "Roboto", sans-serif;
  }
  &--premium {
    padding: 2px 5px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font: 500 0.75rem "Roboto", sans-serif;
  }
  &--preamble {
    p {
      font: 300 16px "Roboto", sans-serif;
      line-height: 1.2rem;
      @media (min-width: @breakpoint-2col) {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
      @media (min-width: @breakpoint-3col) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }
}

.mosaico--article-date {
  border-top: red;
  border-top-style: none;
  border-top-width: medium;
  border-top-width: 1px;
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
}

.mosaico--article-metabyline {
  grid-area: articlemetabyline;
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-color: @hairline-color;
  color: @grey-mediumlight;
  font-family: "Roboto";
}

.mosaico--article-draft {
  color: red;
}

.mosaico--article-authors-and-timestamps {
  padding: 8px 0;
  @media (min-width: @breakpoint-2col) {
    padding: 12px 0;
  }
}

.mosaico--article-author {
  font-size: .8rem;
  margin-bottom: 5px;
  color: @dark-text;
  font-weight: 500;
  @media (min-width: @breakpoint-2col) {
    font-size: .9rem;
  }
}

.mosaico--article-timestamps {
  margin-top: 10px;
  font-size: .6rem;
  @media (min-width: @breakpoint-2col) {
    font-size: .75rem;
  }
}
