.mosaico--article-list {
  grid-area: main;

  .list-article-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .mosaico--tag {
    margin-bottom: 5px;
  }

  .mosaico--list-article {
    &.list-article-default {
      h2 {
        margin-bottom: 5px;
        @media (min-width: @breakpoint-2col) {
          margin-top: 0;
        }
      }

      > a {
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
          "left"
          "right";

        @media (min-width: @breakpoint-2col) {
          grid-template-columns: 1fr 1fr;
          grid-column-gap: @block-padding;
          grid-template-areas: "left right";
        }

        .list-article-image {
          grid-area: left;
        }

        .list-article-liftup {
          grid-area: right;
        }

        transition: all 0.2s;
      }

      > a:hover {
        filter: contrast(120%);
      }
    }
  }
}

.mosaico-asidelist {

  &__mostread {
    @counter-size: 30px;
    counter-reset: listcounter;

    li {
      counter-increment: listcounter;
      margin: 0 10px;
      padding: 10px 0;
      border-bottom: dotted 1px @hairline-color;

      > a {
        cursor: pointer;
        display: flex;
        text-decoration: none;
  
        .counter {
          flex-basis: @counter-size;
          flex-shrink: 0;
          margin-right: 10px;
  
          > div {
            width: @counter-size;
            height: @counter-size;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
              content: counter(listcounter);
              font-weight: 500;
              font-size: 1rem;
              color: #fff;
            }
          }
        }

        .list-article-liftup {

          h6 {
            font: bold 0.9rem/1.125rem "Roboto", sans-serif;
            color: @grey-warm-mid;
          }

          .mosaico--article--premium {
            transform: scale(.85);
            transform-origin: left;
          }
        }
      }
    }
  }
}
