.mosaico--article-list {
  grid-area: main;
  max-width: 600px;

  .list-article-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .mosaico--tag {
    margin-bottom: 5px;
  }

  .mosaico--list-article {

    &.list-article--default {
      margin-bottom: 30px;

      h2 {
        margin-bottom: 5px;
        font: 1.5rem/1.1 "Duplex Serif", serif;
      }

      > span {
        cursor: pointer;
        display: grid;
        grid-template-columns: auto 1fr 80px;
        grid-template-areas:
          "left . right";

        @media (min-width: @breakpoint-2col) {
          grid-template-columns: auto 1fr 120px;
          grid-column-gap: @block-padding;
          grid-template-areas: "left . right";
        }

        .list-article-liftup {
          grid-area: left;
        }

        .list-article-image {
          grid-area: right;
          width: 80px;
          height: 80px;
          @media (min-width: @breakpoint-2col) {
            width: 120px;
            height: 120px;
            }
          }

        a {
          text-decoration: none;
          h2 {
            color: black;
          }
	      }
      }
    }
  }

  .spinner--loading-spinner {
    // TODO will Mosaico have a dark mode?
    background: initial;
  }
}

.mosaico-asidelist {
  font: 1rem "Duplex Serif", serif;

  h6 {
    font: bold 1rem/1.15em "Duplex Serif", serif;
    color: @grey-warm-mid;
  }

  .premium-badge {
    transform: scale(.85);
    transform-origin: left;
  }


  &--header {
    font: bold 1.125rem "Roboto", sans-serif;
    text-transform: uppercase;
    margin: 0 10px;
    #HBL & {
      color: @hbl-orange;
    }
    #VN & {
      color: @vn-red;
    }
    #ON & {
      color: @on-blue;
    }
  }

  &__mostread {
    @counter-size: 30px;
    counter-reset: listcounter;
    border-bottom: solid 1px @hairline-color;

    li {
      counter-increment: listcounter;
      margin: 0 10px;
      padding: 10px 0;
      border-bottom: dotted 1px @hairline-color;

      > a {
        cursor: pointer;
        display: flex;
        text-decoration: none;

        .counter {
          flex-basis: @counter-size;
          flex-shrink: 0;
          margin-right: 10px;

          > div {
            width: @counter-size;
            height: @counter-size;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            #HBL & {
                    background-color: @hbl-orange;
            }
            #VN & {
                    background-color: @vn-red;
            }
            #ON & {
                    background-color: @on-blue;
            }

            &::after {
              content: counter(listcounter);
              font: bold 1rem "Roboto", sans-serif;
              color: #fff;
            }
          }
        }
      }
    }
  }

  &__latest {
    border: solid 1px @hairline-color;
    padding: 10px;

    li {
      margin: 0 10px;
      padding: 10px 0;
      border-bottom: dotted 1px @hairline-color;

      a {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
