.mosaico--aside {
  > div {
    margin-bottom: 15px;
  }
}

.mosaico-article__aside {
  > div {
    margin-bottom: 15px;
  }
}

.mosaico-asidelist__timestamp {
  color: @grey-medium;
  font: 300 13px "Roboto", sans-serif;
  margin-right: 5px;
}
