.mosaico--aside {
  > div {
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
  }
}
.mosaico-asidelist__timestamp {
  color: @grey-medium;
  font: 300 13px "Roboto", sans-serif;
  margin-right: 5px;
}
