@import (reference) "../ksf-colors";
@import "./header/menu.less";

.header-container {
  z-index: 10;

  display: grid;
  grid-row-gap: @mosaico-grid-row-gap;
  grid-template-rows: auto auto;
  grid-template-columns: 5px minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 5px;

  @media (min-width: @breakpoint-3col) {
    max-width: 100%;
    grid-template-columns: @mosaico-grid-columns;
  }

  grid-row: 2;
  grid-column: 1 / span 5;
  background-color: white;
  padding-top: 8px;

  * {
    transition: all 0.2s;
  }

  transition: all 0.2s;
}

.header-container.static-header {
  position: sticky;
  top: 10px;

  .mosaico-header {
    &__logo {
      background-size: 30px;
      height: 26px;

      @media (max-width: @breakpoint-2col) {
        height: 30px;
      }
    }

    &__right-links {
      grid-row: 1;
      > ul {
        flex-direction: row;
        justify-content: flex-end;
        > li:first-child {
          margin-right: 5px;
          > a {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

.mosaico-header {
  @logo-size-desktop: 68px;
  @logo-size-mobile: 48px;
  @max-mobile-width: 640px;
  @font-weight: 500;

  display: grid;
  grid-column: 2 / span 3;

  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  @media (min-width: @breakpoint-2col) {
    grid-template-columns: 15% 1fr 15%;
    row-gap: 5px;
  }
  .menu-label {
    display: none;
    @media (min-width: @breakpoint-3col) {
      display: inline-block;
    }
  }

  font: @font-weight 16px "Roboto", sans-serif;

  &__left-links {
    grid-row-start: 1;
    grid-column: 1 / span 2;

    width: fit-content;
    white-space: nowrap;

    font: @font-weight 13px "Roboto", sans-serif;
    color: @grey-medium;

    display: none;
    z-index: 100; // Fixes the logo overlapping with the links

    @media (min-width: @breakpoint-2col) {
      display: flex;
      padding-left: 5px;
    }

    a {
      text-decoration: none;
      color: inherit;
      padding: 0 5px;
    }
  }

  &__right-links {
    grid-row: 1 / span 2;
    grid-column-start: 3;

    font: @font-weight 13px "Roboto", sans-serif;
    color: #00a1ab;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      margin-top: 0px;
      list-style-type: none;
      li {
        transition: none;
      }
    }

    display: none;

    @media (min-width: @breakpoint-2col) {
      display: block;
    }

    a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
    }
  }

  &__kundservice-link {
    padding-bottom: 4px;
  }

  &__prenumerera-link {
    border-radius: 3px;
    background-color: #00a1ab;
    color: #fff !important;
    text-align: center;
    padding: 3px 3px 1px 3px;
  }

  &__logo {
    grid-row-start: 1;
    background-position: center;
    background-size: @logo-size-mobile;
    cursor: pointer;

    grid-column-start: 2;
    height: @logo-size-mobile;

    #HBL & {
      background-image: url("@{path-images}/logo-hbl.svg");
    }
    #VN & {
      background-image: url("@{path-images}/logo-vn.svg");
    }
    #ON & {
      background-image: url("@{path-images}/logo-on.svg");
    }
    background-repeat: no-repeat;

    @media (min-width: @breakpoint-3col) {
      background-size: @logo-size-desktop;
      height: @logo-size-desktop;
    }
  }

  &__account {
    grid-row-start: 1;
    align-self: center;
    grid-column-start: 1;
    text-transform: uppercase;
    color: @grey-deepdark;
    display: flex;
    align-items: center;
    padding-left: 8px;
    text-decoration: none;
    color: inherit;
    height: 32px;

    @media (min-width: @breakpoint-2col) {
      grid-row-start: 2;
      align-self: stretch;
      padding-left: 10px;
    }

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 5px;
      span {
        width: 30px;
        height: 30px;
        @media (min-width: @breakpoint-2col) {
          width: 19px;
          height: 19px;
        }
        background-image: url("@{path-images}/icon-mosaico-profile.svg");
        background-repeat: no-repeat;
      }
    }

    &--active {
      cursor: pointer;
      .mosaico-header__account-icon {
        span {
          @media (min-width: @breakpoint-2col) {
          }
          background-image: url("@{path-images}/icon-mosaico-login.svg");
        }
      }
    }
  }

  &__center-links {
    grid-row-start: 2;
    grid-column-start: 2;
    color: @grey-deepdark;

    display: none;

    justify-content: center;

    a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: inherit;
      height: 19px;
      padding: 0 8px;
    }

    @media (min-width: @breakpoint-2col) {
      display: flex;
      flex-wrap: wrap;
      height: 19px;
      overflow-y: hidden;
    }
  }

  &__right-buttons {
    grid-row-start: 1;
    grid-column-start: 3;
    color: @grey-deepdark;

    display: flex;

    justify-content: flex-end;
    align-items: center;

    @media (min-width: @breakpoint-2col) {
      grid-row-start: 2;
    }
  }

  &__icon-button {
    &--search {
      margin-right: 15px;
    }
  }

  &__icon-button {
    &--search,
    &--menu {
      align-items: center;
      display: flex;
      text-decoration: none;
      color: black;
    }
    cursor: pointer;
  }

  &__icon {
    width: 30px;
    height: 30px;
    @media (min-width: @breakpoint-2col) {
      width: 19px;
      height: 19px;
    }
    display: inline-block;
    margin-top: 1px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    margin-right: 5px;
    &--menu {
      background-image: url("@{path-icons}/icon-mosaico-menu.svg");
      margin-right: 8px;
      @media (min-width: @breakpoint-3col) {
        margin-right: 5px;
      }
      .menu-open & {
        background-image: url("@{path-icons}/icon-close-mosaico.svg");
        background-size: 20px;
        @media (min-width: @breakpoint-2col) {
          background-size: 13px;
        }
        background-position: center;
      }
    }
    &--search {
      background-image: url("@{path-icons}/icon-mosaico-search.svg");
    }
  }
}

.mosaico-top-line {
  z-index: 10;
  grid-area: line;
  position: sticky;
  top: 0;
  #HBL & {
    background-color: @hbl-orange;
  }
  #VN & {
    background-color: @vn-red;
  }
  #ON & {
    background-color: @on-blue;
  }
  border: 0px;
  margin: 0px;
  width: 100%;
  height: 10px;
}

.mosaico-main-separator {
  border: 0px;
  margin: 0px;
  background-color: @grey-almostlight;
  height: @separator-height;

  width: 100%;
  grid-column: 1 / -1;
}

.mosaico-header .spinner--loading-spinner {
  background: initial;
  display: initial;
  grid-row-start: 3;
  margin-top: -40px;
  @media (min-width: @breakpoint-2col) {
    margin-top: -30px;
  }
}

.mosaico-header__menu .mosaico-header__section .spinner--loading-spinner {
  background: initial;
}

@separator-margin: 15px;
@separator-height: 2px;
