@import (reference) "../ksf-colors";
@import "./header/menu.less";

.mosaico-header {
  @logo-size-desktop: 68px;
  @logo-size-mobile: 48px;
  @max-mobile-width: 640px;
  @font-weight: 400;

  grid-area: head;
  display: grid;

  grid-template-rows: @logo-size-mobile;
  grid-template-columns: 15% 1fr 15%;

  @media (min-width: @breakpoint-3col) {
    grid-template-rows: 1fr 55px 1fr;
  }

  font: @font-weight 16px "Roboto", sans-serif;

  &__left-links {
    grid-row-start: 1;
    grid-column: 1 / span 2;

    gap: 1%;

    font: @font-weight 13px "Roboto", sans-serif;
    color: @grey-medium;

    display: none;

    @media (min-width: @breakpoint-3col) {
      display: flex;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__right-links {
    grid-row: 1 / span 2;
    grid-column-start: 3;

    font: @font-weight 13px "Roboto", sans-serif;
    color: #00a1ab;

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      align-items: flex-end;

      margin-top: 0px;
      list-style-type: none;
    }

    display: none;

    @media (min-width: @breakpoint-3col) {
      display: block;
    }
  }

  &__prenumerera-link {
    border-radius: 3px;
    background-color: #00a1ab;
    color: #fff;
    text-align: center;
    padding: 3px 3px 1px 3px;
  }

  &__logo {
    grid-row-start: 1;
    background-position: center;
    background-size: @logo-size-mobile;
    cursor: pointer;

    grid-column-start: 2;

    #HBL & {
      background-image: url("@{path-images}/logo-hbl.svg");
    }
    #VN & {
      background-image: url("@{path-images}/logo-vn.svg");
    }
    #ON & {
      background-image: url("@{path-images}/logo-on.svg");
    }
    background-repeat: no-repeat;

    @media (min-width: @breakpoint-3col) {
      grid-row-start: 2;
      background-position: top;
      background-size: @logo-size-desktop;
    }
  }

  &__account {
    grid-row-start: 1;
    align-self: center;
    grid-column-start: 1;
    text-transform: uppercase;

    @media (min-width: @breakpoint-3col) {
      grid-row-start: 3;
      align-self: stretch;
    }

    &--active {
      cursor: pointer;
    }
  }

  &__center-links {
    grid-row-start: 3;
    grid-column-start: 2;

    display: none;

    gap: 6%;
    justify-content: center;

    a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
    }

    @media (min-width: @breakpoint-3col) {
      display: flex;
    }
  }

  &__right-buttons {
    grid-row-start: 1;
    grid-column-start: 3;

    display: flex;

    justify-content: flex-end;
    align-items: center;
    gap: 6%;

    @media (min-width: @breakpoint-3col) {
      grid-row-start: 3;
    }
  }

  &__icon-button {
    display: grid;

    grid-template-columns: auto 15px;

    gap: 10%;

    &--search {
      grid-row-start: 3;
      grid-column-start: 2;

      justify-self: center;
      text-decoration: none;
      color: black;
    }
    cursor: pointer;
  }

  &__icon {
    margin-top: 1px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    &--menu {
      background-image: url("@{path-icons}/icon-menu.svg");
    }
    &--search {
      background-image: url("@{path-icons}/icon-search.svg");
    }
  }
}

.mosaico-header__account {
  text-decoration: none;
  color: inherit;
}

.mosaico-top-line {
  grid-area: line;
  #HBL & {
    background-color: @hbl-orange;
  }
  #VN & {
    background-color: @vn-red;
  }
  #ON & {
    background-color: @on-blue;
  }
  border: 0px;
  margin: 0px;
  width: 100%;
  height: 10px;

  @media (max-width: @breakpoint-3col) {
    width: calc(100% + 24px);
    margin-left: -12px;
  }
}

.mosaico-main-separator {
  grid-area: separator;
  border: 0px;
  margin: 0px;
  background-color: @grey-almostlight;
  width: 100%;
  height: 4px;
  margin-bottom: 30px;

  @media (max-width: @breakpoint-3col) {
    width: calc(100% + 24px);
    margin-left: -12px;
  }
}
