@import (reference) "../ksf-colors";
@import "./header/menu.less";

@logo-size-desktop: 68px;
@logo-size-mobile: 48px;
@max-mobile-width: 640px;
@font-weight: 500;

@separator-margin: 15px;
@separator-height: 2px;

@header-size-top-line: 10px;
@top-line-separator: 8px;
@first-line-separator: 40px;
@second-line-separator: 8px;
@bottom-border-size: @separator-height;

@header-size-large-full-first-line: 26px;
@header-size-large-full-second-line: 20px;
@header-logo-container-size-large-full:
  @header-size-large-full-first-line
  + @first-line-separator;
@header-logo-size-large-full: 36px;
@header-size-large-full-inner:
  @header-size-top-line
  + @top-line-separator
  + @header-size-large-full-first-line
  + @first-line-separator
  + @header-size-large-full-second-line
  + @second-line-separator
  + @bottom-border-size;

@header-size-large-scrolled-first-line: 26px;
@header-logo-container-size-large-scrolled:
  @header-size-large-scrolled-first-line;
@header-logo-size-large-scrolled: 20px;
@header-size-large-scrolled-second-line: 20px;
@header-size-large-scrolled-inner:
  @header-size-top-line
  + @header-size-large-scrolled-first-line
  + @header-size-large-scrolled-second-line
  + @second-line-separator
  + @bottom-border-size;

@header-size-medium-full-first-line: 0;
@header-size-medium-full-second-line: 20px;
@header-logo-container-size-medium-full: 40px;
@header-logo-size-medium-full: 26px;
@header-size-medium-full-inner:
  @header-size-top-line
  + @top-line-separator
  + @header-size-medium-full-first-line
  + @first-line-separator
  + @header-size-medium-full-second-line
  + @second-line-separator
  + @bottom-border-size;

@header-size-medium-scrolled-first-line: 0;
@header-logo-container-size-medium-scrolled: 20px;
@header-logo-size-medium-scrolled: 20px;
@header-size-medium-scrolled-second-line: 20px;
@header-size-medium-scrolled-inner:
  @header-size-top-line
  + @top-line-separator
  + @header-size-medium-scrolled-first-line
  + @header-logo-container-size-medium-scrolled
  + @header-size-medium-scrolled-second-line
  + @second-line-separator
  + @bottom-border-size;

@header-size-small-full-first-line: 0;
@header-size-small-full-second-line: 32px;
@header-logo-container-size-small-full: 32px;
@header-logo-size-small-full: 32px;
@header-size-small-full-inner:
  @header-size-top-line
  + @top-line-separator
  + @header-size-small-full-first-line
  + @first-line-separator
  + @header-size-small-full-second-line
  + @second-line-separator
  + @bottom-border-size;

@header-size-small-scrolled-first-line: 0;
@header-logo-container-size-small-scrolled: 32px;
@header-logo-size-small-scrolled: 20px;
@header-size-small-scrolled-second-line: 32px;
@header-size-small-scrolled-inner:
  @header-size-top-line
  + @top-line-separator
  + @header-size-small-scrolled-first-line
  + @header-size-small-scrolled-second-line
  + @second-line-separator
  + @bottom-border-size;

.mosaico-top-line {
  #HBL & {
    background-color: @hbl-orange;
  }
  #VN & {
    background-color: @vn-red;
  }
  #ON & {
    background-color: @on-blue;
  }
  border: 0px;
  margin: 0px;
  width: 100%;
  height: 10px;
}

.header-container {
  grid-area: head;
  grid-column: 1 / -1;
  background-color: white;
  >*:not(:first-child):not(:last-child) {
    padding-left: 12px;
    padding-right: 12px;
  }

  display: grid;

  grid-template-columns: minmax(0, 1fr); //minmax used to prevent grid blowout on static pages
  @media (min-width: @breakpoint-3col) {
    max-width: 100%;
    grid-template-columns: @mosaico-grid-columns;
  }

  z-index: 10;

  top: @header-size-large-scrolled-inner - @header-size-large-full-inner;
  height: @header-size-large-full-inner;
  position: sticky;
  width: 100%;

  @media (max-width: @breakpoint-3col) {
    width: calc(100% + 24px);
    margin-left: -12px;
  }

  * {
    transition: all 0.1s;
  }

  transition: all 0.1s;

  @media (max-width: @breakpoint-3col) {
    top: @header-size-medium-scrolled-inner - @header-size-medium-full-inner;
    height: @header-size-medium-full-inner;
  }

  @media (max-width: @breakpoint-2col) {
    top: @header-size-small-scrolled-inner - @header-size-small-full-inner;
    height: @header-size-small-full-inner;
  }
}

.header-container-inner-top-line {
  grid-row: 1;
  top: 0;
  position: sticky;
  height: @header-size-top-line;
  grid-column: 1 / -1;
}

.top-line-separator {
  grid-row: 2;
  grid-column: 2 / -2;
  position: sticky;
  top: @header-size-top-line;
  height: @top-line-separator;
}

.header-container-inner-first-line {
  grid-row: 3;
  grid-column: 2 / -2;
  top: @header-size-top-line;
  position: sticky;
  height: @header-size-large-full-first-line;
  display: flex;
  align-items: center;

  @media (max-width: @breakpoint-3col) {
    height: @header-size-medium-full-first-line;
    display: none;
  }

  @media (max-width: @breakpoint-2col) {
    height: @header-size-small-full-first-line;
    display: none;
  }
}

.first-line-separator {
  grid-row: 4;
  grid-column: 2 / -2;
  height: @first-line-separator;
  position: relative;

  @media (max-width: @breakpoint-3col) {
    display: none;
  }

  @media (max-width: @breakpoint-2col) {
    display: none;
  }
}

.header-container-inner-logo {
  grid-row: 5;
  grid-column: 2 / -2;
  top: @header-size-top-line + @header-size-large-scrolled-first-line;
  position: sticky;
  height: 0;

  @media (max-width: @breakpoint-3col) {
    top: @header-size-top-line + @header-size-medium-scrolled-first-line;
    height: @header-logo-container-size-medium-full;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: @breakpoint-2col) {
    top: @header-size-top-line + @top-line-separator + @header-size-small-scrolled-first-line;
    height: @header-size-small-scrolled-second-line;
    display: none;
  }
}

.header-container-inner-second-line {
  grid-row: 6;
  grid-column: 2 / -2;
  top: @header-size-top-line + @header-size-large-scrolled-first-line;
  position: sticky;
  height: @header-size-large-scrolled-second-line;

  @media (max-width: @breakpoint-3col) {
    top: @header-size-top-line + @top-line-separator + @header-logo-container-size-medium-scrolled;
    height: @header-size-medium-scrolled-second-line;
  }

  @media (max-width: @breakpoint-2col) {
  top: @header-size-top-line + @top-line-separator + @header-size-small-scrolled-first-line;
    height: @header-size-small-scrolled-second-line;
  }
  
  .mosaico-header__logo-container {
    display: none;
  
    @media (max-width: @breakpoint-2col) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.second-line-separator {
  grid-row: 7;
  grid-column: 2 / -2;
  height: @second-line-separator;
}

.header-bottom-border {
  grid-row: 8;
  top: @header-size-top-line + @header-size-large-scrolled-first-line + @header-size-large-scrolled-second-line;
  position: sticky;
  border-bottom: @bottom-border-size solid @grey-almostlight;
  grid-column: 1 / -1;

  @media (max-width: @breakpoint-3col) {
    top: @header-size-top-line + @header-logo-container-size-medium-scrolled + @header-size-medium-scrolled-first-line + @header-size-medium-scrolled-second-line;
  }

  @media (max-width: @breakpoint-2col) {
    top: @header-size-top-line + @top-line-separator + @header-size-small-scrolled-first-line + @header-size-small-scrolled-second-line;
  }
}

.mosaico-header {
  font: @font-weight 16px "Roboto", sans-serif;

  &__first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__left-links {
    font: @font-weight 13px "Roboto", sans-serif;
    color: @grey-medium;
    gap: 1%;
    width: 100%;
      display: flex;
    opacity: 0;

    a {
      text-decoration: none;
      color: inherit;
    }

    @media (min-width: @breakpoint-3col) {
      opacity: 1;
    }
  }

  &__logo-container {
    width: 100%;
    height: @header-logo-container-size-large-full;
    position: absolute;
    margin: auto;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    @media (max-width: @breakpoint-3col) {
      height: @header-logo-container-size-medium-full;
      position: unset;
    }
  
    @media (max-width: @breakpoint-2col) {
      height: @header-logo-container-size-small-full;
    }
  
    .static-header & {
      height: @header-logo-container-size-large-scrolled;
  
      @media (max-width: @breakpoint-3col) {
        height: @header-logo-container-size-medium-scrolled;
      }
  
      @media (max-width: @breakpoint-2col) {
        height: @header-logo-container-size-small-scrolled;
      }
    }
  }

  &__logo {
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 100%;
    height: @header-logo-size-large-full;
  
    @media (max-width: @breakpoint-3col) {
      height: @header-logo-size-medium-full;
    }
  
    @media (max-width: @breakpoint-2col) {
      height: @header-logo-size-small-full;
    }

    .static-header & {
      height: @header-logo-size-large-scrolled;
    
      @media (max-width: @breakpoint-3col) {
        height: @header-logo-size-medium-scrolled;
      }
    
      @media (max-width: @breakpoint-2col) {
        height: @header-logo-size-small-scrolled;
      }
    }
  
    #HBL & {
      background-image: url("@{path-images}/logo-hbl.svg");
    }
  
    #VN & {
      background-image: url("@{path-images}/logo-vn.svg");
    }
  
    #ON & {
      background-image: url("@{path-images}/logo-on.svg");
    }
  }

  &__right-links {
    font: @font-weight 13px "Roboto", sans-serif;
    color: #00a1ab;

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      align-items: flex-end;

      margin-top: 0px;
      list-style-type: none;
      li {
        transition: none;
      }
    }

    display: none;

    @media (min-width: @breakpoint-3col) {
      display: block;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .static-header  &__right-links {
      > ul {
        flex-direction: row;
        justify-content: flex-end;
        > li:first-child {
          margin-right: 5px;
        }
      }
    }

  &__second-line {
    display: flex;
    justify-content: space-between;
  }

  .menu-label {
    display: none;
    @media (min-width: @breakpoint-2col) {
      display: inline-block;
    }
  }

  &__account {
    text-transform: uppercase;
    color: @grey-deepdark;
    display: flex;
    align-items: center;

    @media (min-width: @breakpoint-3col) {
      grid-row-start: 2;
      align-self: stretch;
    }

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 19px;
      margin-right: 5px;
      span {
        width: 30px;
        height: 30px;
        @media (min-width: @breakpoint-2col) {
          width: 19px;
          height: 19px;
        }
        background-image: url("@{path-images}/icon-mosaico-profile.svg");
        background-repeat: no-repeat;
      }
    }

    &--active {
      cursor: pointer;
      .mosaico-header__account-icon {
        span {
          @media (min-width: @breakpoint-2col) {
          }
          background-image: url("@{path-images}/icon-mosaico-login.svg");
        }
      }
    }
  }

  &__center-links {
    color: @grey-deepdark;

    display: none;

    gap: 15px;
    justify-content: center;

    a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: inherit;
      height: 19px;
    }

    @media (min-width: @breakpoint-2col) {
      display: flex;
      flex-wrap: wrap;
      height: 19px;
      overflow-y: hidden;
    }
  }

  &__prenumerera-link {
    border-radius: 3px;
    background-color: #00a1ab;
    color: #fff !important;
    text-align: center;
    padding: 3px 3px 1px 3px;
  }

  &__right-buttons {
    color: @grey-deepdark;

    display: flex;

    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    width: 150px;
  }

  &__icon-button {
    &--search, &--menu {
      align-items: center;
      display: flex;
      text-decoration: none;
      color: black;
    }
    cursor: pointer;
  }

  &__icon {
    width: 30px;
    height: 30px;
    @media (min-width: @breakpoint-2col) {
      width: 19px;
      height: 19px;
    }
    display: inline-block;
    margin-top: 1px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    margin-right: 5px;
    &--menu {
      background-image: url("@{path-icons}/icon-mosaico-menu.svg");
      .menu-open & {
        background-image: url("@{path-icons}/icon-close-mosaico.svg");
        background-size: 20px;
        @media (min-width: @breakpoint-2col) {
          background-size: 13px;
        }
        background-position: center;
      }
    }
    &--search {
      background-image: url("@{path-icons}/icon-mosaico-search.svg");
    }
  }
}

.mosaico-header__account {
  text-decoration: none;
  color: inherit;
  width: 150px;
}
