@import (reference) "../ksf-colors";

.mosaico-search {
  grid-area: search;
  max-width: 600px;
  padding-bottom: 20px;
  @media (min-width: @breakpoint-2col) {
    padding-bottom: 10px;
  }

  &__form {
    display: flex;

    .input-field--container input[type="text"] {
      border: 0;
    }

    .input-field--no-label {
      grid-template-rows: initial !important;
    }

    border: 1px @grey-slightlylight solid;
  }

  &__input {
    flex: auto;
  }

  :focus {
    outline: none;
  }

  ::-moz-focus-inner {
    border: 0;
  }

  &__submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      span {
        mask-image: url("@{path-icons}/icon-mosaico-search.svg");
        -webkit-mask-image: url("@{path-icons}/icon-mosaico-search.svg");
        mask-position: 0 0;
        mask-size: 23px 23px;
        mask-repeat: no-repeat;
        -webkit-mask-position: 0 0;
        -webkit-mask-size: 23px 23px;
        -webkit-mask-repeat: no-repeat;
        background-size: 23px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
        display: inline-block;
        width: 23px;
        height: 23px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      background-color: @button-color-primary;
      border: none;
      border-radius: 4px;
      margin-right: 2px;
    }
    button:hover {
      background-color: @button-color-primary-hover;
    }
  }

  &__message {
    margin-top: 1em;
  }

  margin-bottom: 1em;
}

.mosaico-search + .mosaico--article-list {
  margin-top: 30px;

  @media (min-width: @breakpoint-3col) {
      margin-top: 50px;
  }
}
