.temporary-address-change--container {
    h3 { margin: 0 };
    input[type=text] {
        box-sizing: border-box;
        width: 100%;
    }
    justify-content: flex-end;
}

.temporary-address-change--close-icon {
    justify-content: right;
    align-items: center;
    height: 1.5em;
    .close-icon {
        cursor: pointer;
    }
}
