.subscription--paper-name {
    text-align: left;
}

.subscription--pause-container {
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
}

.subscription--pause-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-image: url('../images/tim-pocket-watch.svg');
    background-size: 20px;
}
