@import (reference) '../less/ksf-variables';

.subscription--paper-name {
    text-align: left;
}

.subscription--container.subscription--pause-visible {
    > .grid--column-half {
        @media @to-xlarge {
            width: 100%;
        }
        @media @to-medium {
            width: calc(6/12 * 100%);
        }
        @media @to-xsmall {
            width: 100%;
        }
    }
    .pause-subscription--container {
        margin-top: 0;
        @media @to-xlarge {
            margin-top: 1.5em;
        }
        @media @to-medium {
            margin-top: 0;
        }
        @media @to-xsmall {
            margin-top: 1.5em;
        }
    }
}

.subscription--pause-container {
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
}

.subscription--pause-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-image: url('../images/tim-pocket-watch.svg');
    background-size: 20px;
}
