.pod-description{
  float: left;
  width: 100%;
  img.pod-avatar {
    width: 100px;
    float: left;
    margin-right: 15px;
  }
}
.pod-tracklist{
  padding-top: 30px;
  float: left;
  width: 100%;
}
.pod-track {
  background: #eceae6;
  padding: 15px;
  margin-bottom: 15px;
  >div{display: flex;}
  .description .artwork{
    width: 100px;
    float: left;
    margin-right: 15px;
  }
  .track-details-media{
    iframe {
      border: 0;
      width: 100%;
      height: 160px;
      margin: 15px 0;
    }
  } 
  .track-details-description{
    font-size: .875rem;
    color: #666;
    line-height: 1.5rem;
  } 
  .pod-track-description{
    margin-left: 15px;
  }
}
