@import '../../less/ksf-fonts.less';

.pod-app {
  margin: 0;
  ul.pod-nav {
    list-style: none;
    padding: 0;
    li {
      float: left;
      display: inline-block;
      margin: 5px;
      padding: 5px;
      cursor: pointer;
      border-radius: 3px;
    }
    li:hover {
      background: #e0e0e0;
    }
    li.label {
      cursor: auto;
      color: #666;
      background: transparent;
    }
    li.active {
      background: #333;
      color: #fff;
    }
  }
}
.pod-tracklist{
  padding-top: 30px;
  float: left;
  width: 100%;
  font-family: 'Duplex Sans', sans-serif;
}
.pod-track {
  background: #eceae6;
  padding: 15px;
  margin-bottom: 15px;
  >div{display: flex;}
  .artwork{
    margin-right: 15px;
  }
  .track-details-media{
    iframe {
      border: 0;
      width: 100%;
      height: 160px;
      margin: 15px 0;
    }
  } 
  .pod-track-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .pod-podname {
      text-transform: uppercase;
    }
  }
  .track-details-description{
    font-size: .875rem;
    color: #666;
    line-height: 1.5rem;
  }
  img.pod-play {
    transition: all .2s;
    cursor: pointer;
  }
}
.expanded img.pod-play {
  transform: rotate(90deg);
}
