@partycolor-kesk: #01954b;
@partycolor-kok: #006288;
@partycolor-sdp: #e11931;
@partycolor-sin: #031f73;
@partycolor-ps: #ffde55;
@partycolor-vihr: #61bf1a;
@partycolor-vas: #bf1e24;
@partycolor-rkp: #ffdd93;
@partycolor-kd: #18359b;
@partycolor-tl: #239dac;
@partycolor-eop: #eab808;
@partycolor-fp: #e94786;
@partycolor-ipu: #e96c18;
@partycoloe-kp: #239dab;
@partycolor-ktp: #ff0000;
@partycolor-lib: #f7932e;
@partycolor-pp: #660099;
@partycolor-ske: #133381;
@partycolor-skp: #da2301;

@partycolor-other: #666;
