.background-CENT{ background-color: #01954b !important; }
.background-SAML{ background-color: #006288 !important; }
.background-SDP{ background-color: #e11931 !important; }
.background-BF{ background-color: #031f73 !important; }
.background-SANNF{ background-color: #ffde55 !important; }
.background-GRÖNA{ background-color: #61bf1a !important; }
.background-VF{ background-color: #bf1e24 !important; }
.background-SFP{ background-color: #ffdd93 !important; }
.background-KD{ background-color: #18359b !important; }
.background-TL{ background-color: #239dac !important; }
.background-EOP{ background-color: #eab808 !important; }
.background-FP{ background-color: #e94786 !important; }
.background-IPU{ background-color: #e96c18 !important; }
.background-KP{ background-color: #239dab !important; }
.background-KTP{ background-color: #ff0000 !important; }
.background-LIB{ background-color: #f7932e !important; }
.background-PIR{ background-color: #660099 !important; }
.background-SKE{ background-color: #133381 !important; }
.background-FKP{ background-color: #da2301 !important; }
