.status{
  width: 80px;
  height: 80px;
  position: absolute;
  right: 10px;
  @media screen and (min-width: 768px){
    width: 150px;
    height: 150px;
  }
  .percentage{
    position: relative;
    .status-text{
      text-align: center;
      position: absolute;
      top: 50%;
      color: #fff;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 1.25rem;
      @media screen and (min-width: 768px){
        font-size: 1.5rem;
      }
      font-weight: 600;
      span{
        display: inline-block;
        font-size: 1rem;
        @media screen and (min-width: 768px){
          font-size: 1.125rem;
        }
      }
    }
  }
}
