.ksf-elections{
  font: 1rem 'Roboto', sans-serif;
  .ReactTable{
    font-size: .9rem;
  }
  .ReactTable .rt-thead.-header {
    box-shadow: none;
    background: #eceae6;
  }
  .ReactTable .-pagination input,
  .ReactTable .-pagination select {
    color: #000;
  }
  .ReactTable .-pagination {
    box-shadow: none;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .ReactTable.-striped .rt-tr.-odd {
    background: #f7f5f3;
  }
  .ReactTable .-pagination .-btn {
    color: rgba(0,0,0,0.6);
    background: #eceae6;
  }
  .ReactTable .rt-thead .rt-th.-sort-desc,
  .ReactTable .rt-thead .rt-td.-sort-desc{
    box-shadow: none;
    div{
      &:before{
        content: '➤';
        opacity: .5;
        transform: rotate(90deg);
        display: inline-block;
        margin-right: 5px;
        transition: transform .3s ease;
      }
    }
  }
  .ReactTable .rt-thead .rt-th.-sort-asc,
  .ReactTable .rt-thead .rt-td.-sort-asc{
    box-shadow: none;
    div{
      &:before{
        content: '➤';
        opacity: .5;
        transform: rotate(-90deg);
        display: inline-block;
        margin-right: 5px;
        transition: transform .3s ease
      }
    }
  }
  .ReactTable .rt-td{
    svg{
      width: 10px;
      height: 10px;
      margin-right: 3px;
      rect{
        fill: #999;
      }
    }
  }
  .invald{
    color: #a4ab47;
  }
  .ejvalbar{
    color: #f9423a;
  }
  .suppleant{
    color: #666;
  }
}
