@import (reference) '../../less/ksf-colors';
@import (reference) '../../less/ksf-fonts';
.ksf-elections{
  font: 1rem 'Roboto', sans-serif;
  .ReactTable .rt-thead.-header {
    box-shadow: none;
    background: #eceae6;
  }
  .ReactTable .-pagination input,
  .ReactTable .-pagination select {
    color: #000;
  }
  .ReactTable .-pagination {
    box-shadow: none;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .ReactTable.-striped .rt-tr.-odd {
    background: #f7f5f3;
  }
  .ReactTable .-pagination .-btn {
    color: rgba(0,0,0,0.6);
    background: #eceae6;
  }
}
