@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./css/box.css";

#HBL {
  --brand-color: #f07e26;
}
#ON {
  --brand-color: #518196;
}
#VN {
  --brand-color: #c90c0f;
}
#BRAND-NEUTRAL {
  --brand-color: #00a1ab;
}
