.mosaico--article--boxinfo {
    margin: {
        left: 15px;
        right: 15px;
    }
    border: {
        top: solid 5px #000;
        bottom: solid 2px #000;
    }
    background: $grey-light;
    &.brand-hbl { border-color: $hbl-orange }
    &.brand-vn { border-color: $vn-red }
    &.brand-on { border-color: $on-blue }
    header {
        padding: 15px;
        border-bottom: solid 1px $hairline-color;
        h2 {
            @include roboto(1.8rem, 600);
            margin: 0;
        }
        h3 {
            @include roboto(1rem, 700);
            margin-top: 0;
            margin-bottom: .5em;
        }
    }
    .boxinfo--body {
        padding: 15px;
    }
}