.mosaico--article--boxinfo {
    margin: {
        left: 15px;
        right: 15px;
    }
    border: {
        top-style: solid;
        top-width: 5px;
        bottom-style: solid;
        bottom-width: 2px;
    }
    background: $grey-light;
    header {
        padding: 15px;
        border-bottom: solid 1px $hairline-color;
        h2 {
            @include roboto(1.8rem, 600);
            margin: 0;
        }
        h3 {
            @include roboto(1rem, 700);
            margin-top: 0;
            margin-bottom: .5em;
        }
    }
    .boxinfo--body {
        padding: 15px;
    }
}