.mosaico--article {
    position: relative;
    p {
	@include roboto(1rem, 300, 1.5rem)
    }
    h4 {
	@include roboto(1rem, 700);
    }
}

.mosaico--article-fading-body {
    background: linear-gradient(transparent 1em, white);
    height: 3em;
    position: absolute;
    width: 100%;

}
