@path-fonts : '/fonts';
@path-images: 'https://cdn.ksfmedia.fi/prenumerera.ksfmedia.fi/images';
@path-theme-images : 'https://cdn.ksfmedia.fi/prenumerera.ksfmedia.fi/images';
@path-icons: 'https://cdn.ksfmedia.fi/prenumerera.ksfmedia.fi/images';
@path-theme : '/static';
@path-assets: '/static';

@content-max-width: 680px;
@screen-xs-max: 767px;
@screen-sm-max: 991px;
@screen-lg-max: 1199px;
