.ksf-orderdetails{
    margin-bottom: 30px;
    display: flex;
    >div{
        border: solid 1px @grey-light;
    }
    th{
        padding-right: 10px;
    }
}

.ksf-banks{
    margin-bottom: 90px;
    form{
        text-align: center;
        input{
            margin: 0 auto;
            display: block;
        }
    }
    .ksf-bank{
        padding: 10px;
        border: solid 1px @grey-light;
    }
}
#ksf-identify .ksf-auth-wrapper #ksf-accept-terms-form{
  payment-options{
    label{
      display: block;
      margin-bottom: 15px;
      &.price{
        text-align: left;
        h3{
          margin-top: 0px;
        }
      }
    }
  }
}
