@import (reference) "../../ksf-colors";

.mosaico-header {
  &__menu {

    grid-area: main;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 0.1fr 1fr 0.1fr;

    border-radius: 1px;
    background-color: @white;

    @media (min-width: @breakpoint-2col) {
      grid-column: 1 / span 2;
    }

    @media (min-width: @breakpoint-3col) {
      grid-column: 2 / span 3;
    }
  }

  &__menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: @breakpoint-3col) {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: center;
    }
    &:first-child {
      padding-bottom: 16px;
      .mosaico-header__section {
        @media (min-width: @breakpoint-3col) {
          margin: 0 15px;
          padding-left: 0;
          &:first-child {
            display: none;
          }
        }
      }
      .mosaico-header__section-header {
        justify-content: center;
      }
    }
    &:nth-last-of-type(3) {
      border-bottom: 1px solid @grey-mediumlight;
      @media (min-width: @breakpoint-3col) {
        border: none;
      }
    }
    &:nth-last-of-type(1) {
      padding-top: 16px;
      @media (min-width: @breakpoint-3col) {
        padding-top: 0;
      }
    }
    &:last-child {
      .mosaico-header__section-title {
        a {
          padding: 10px 0;
        }
      }
    }
  }

  &__section {

    @media (min-width: @breakpoint-3col) {
      display: flex;
      flex-direction: column;
      width: 160px;
      margin: 30px 0;
      padding-left: 20px;
    }
    a, a:hover, a:focus, a:active {
      text-decoration: none;
      display: block;
      color: inherit;
      font-size: .9375rem;
      &.mosaico-menu__subscribe-link {
        border-bottom: 1px solid @grey-mediumlight;
        margin-bottom: 30px;
        padding-bottom: 15px;
        @media (min-width: @breakpoint-3col) {
          display: none;
        }
      }
      &.mosaico-menu__icon {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      &.mosaico-menu__icon:before {
        content: "";
        display: inline-block;
        width: 35px;
        height: 35px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 5px;
      }
      &.mosaico-menu__icon--search:before {
        background-image: url("../../../images/icon-mosaico-search.svg");
      }
      &.mosaico-menu__icon--epaper:before {
        background-image: url("../../../images/icon-mosaico-epaper.svg");
      }
      &.mosaico-menu__icon--customer-service:before {
        background-image: url("../../../images/icon-mosaico-kundservice.svg");
      }
      &.mosaico-menu__icon--logout:before {
        background-image: url("../../../images/icon-mosaico-logout.svg");
      }
      &.mosaico-menu__icon--login:before {
        background-image: url("../../../images/icon-mosaico-login.svg");
      }
    }
  }

  &__section-header {
    font-size: .9375rem;
    @media (min-width: @breakpoint-3col) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__section-title {
    font: 600 13px "Roboto", sans-serif;
    a.mosaico-menu__category-headline {
      display: block;
      padding: 15px 0;
      border-top: 1px solid @grey-mediumlight;
      @media (min-width: @breakpoint-3col) {
        border: none;
      }
    }
  }

  &__subsections {
    @media (min-width: @breakpoint-3col) {
      display: flex;
      flex-direction: column;
    }
  }

  &__subsection {
    font: 400 13px "Roboto", sans-serif;
    a {
      padding-bottom: 10px;
    }
  }

  &__separator {
    border: none;
    height: 1px;
    background-color: @grey-slightlylight;
    width: 100%;
    display: none;
    @media (min-width: @breakpoint-3col) {
      display: block;
    }

      &--mobile-only {
        @media (min-width: @breakpoint-3col) {
          display: none;
        }
      }

  }

  &__menu-footer {
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 8px;
    column-gap: 0px;

    grid-row-start: 3;
    grid-column-start: 2;

    margin-bottom: 30px;
  }

  &__footer-caption {

    grid-row-start: 1;
    grid-column: 2 / span 1;

    font: 600 13px "Roboto", sans-serif;
    color: @grey-mediumlight;

    justify-self: center;
    margin-top: 15px;
  }

  &__footer-logo {
    display: grid;

    grid-template-rows: 55px auto;
    justify-content: center;

    &--on {
      grid-row-start: 2;
      grid-column-start: 3;
    }

    &--hbl {
      grid-row-start: 2;
      grid-column-start: 2;
    }

    &--vn {
      grid-row-start: 2;
      grid-column-start: 1;
    }
  }

  &__footer-logo-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 55px;
    height: width;
    grid-row-start: 1;

    &--on {
      background-image: url("../../../images/logo-on.svg");
    }

    &--vn {
      background-image: url("../../../images/logo-vn.svg");
    }

    &--hbl {
      background-image: url("../../../images/logo-hbl.svg");
    }
  }

  &__footer-logo-caption {
    grid-row-start: 2;

    font: 400 13px "Roboto", sans-serif;
    color: @grey-mediumlight;

    justify-self: center;
  }
}

