.static-page__abi {
  padding: 60px 0;
  .abi__sub-headline {
    margin-bottom: 15px;
  }
  .abi__divider {
    margin: 60px 0;
    border: dashed 1px @hairline-color;
  }
  p {
    margin-bottom: 10px;
  }
}
