.ksf-terms {

  .links {
    text-align: left;
    letter-spacing: normal;
  }

  .links, .terms-paper, .terms-digital, .terms-junior {
    border-bottom: 1px solid grey;
    margin-top: 20px;
    padding-bottom: 15px;
  }

  .terms-consent {
    margin-top: 20px;
  }

  h2 {
    margin-bottom: 10px;
    text-decoration: underline;
  }

  h3, h4 {
    font-size: 1rem;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
  }

  a:link {
    color: #00698e;
  }

  a:visited, a:hover, a:active {
    color: #575d5c;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  h2 {
    font-size: 1.2rem;
  }
}
