.static-page__terms {
  display: flex;
  flex-direction: column;
  .terms__section-links-list {
    list-style: none outside;
    padding: 0;
  }

  .terms__section-link {
    padding: 3px 0;
  }

  .terms__links-container,
  .terms__paper,
  .terms__digital,
  .terms__junior {
    border-bottom: 1px solid grey;
    margin-top: 20px;
    padding-bottom: 15px;
  }

  .terms__consent {
    margin: 20px 0;
  }

  .terms__section-headline {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .terms__sub-section-headline {
    font-size: 1.08rem;
  }

  .terms__sub-section-sub-headline {
    font-size: 1.075;
    margin: 10px 0;
  }

  .terms__text {
    margin: 10px 0;
  }

  .terms__list {
    list-style-type: disc;
    list-style-position: inside;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
  }

  .terms__link:link {
    color: #00698e;
    text-decoration: none;
  }

  .terms__link:visited,
  .terms__link:hover,
  .terms__link:active {
    color: #575d5c;
    text-decoration: none;
  }
}
