@import (reference) "../../ksf-colors";

.ksf-faq {
  h1 {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  iframe[src*=youtube] {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

}
