@import (reference) "../../ksf-colors";

.static-page__faq {
  .faq__headline {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .faq__question {
    margin-top: 10px;
    cursor: pointer;
  }

  .faq__answer-video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .faq__answer {
    display: none;
    position: absolute;
  }

}
