@import (reference) "../../ksf-colors";

.static-page__faq {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .faq__headline {
    font-size: 2rem;
    line-height: 1;
  }

  .faq__qa-section-link {
    padding: 2px 0;
  }

  .faq__qa-container {
    display: flex;
    flex-direction: column;
  }

  .faq__qa-section {
    display: flex;
    flex-direction: column;
  }
  .faq__section-headline {
    font-size: 1.65rem;
    line-height: 1;
    margin-top: 30px;
  }

  .faq__qa {
    display: flex;
    flex-flow: column wrap;
  }

  .faq__question {
    color: #333;
    max-width: 95%;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    padding: 0;
    text-align: start;
    outline: none;
    font-weight: 500;
    line-height: 1.2;
    @media (min-width: @breakpoint-3col) {
      max-width: 90%;
    }
  }

  .faq__question::after {
    display: inline-block;
    position: absolute;
    content: url(../images/chevron.svg);
    margin-left: 5px;
  }

  .faq__question--active::after {
    display: inline-block;
    position: absolute;
    content: url(../images/chevron.svg);
    transform: rotate(180deg);
  }

  .faq__answer {
    display: none;
  }

  .faq__answer--open {
    margin: 15px 0 5px;
    max-width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid @hairline-color;
    @media (min-width: @breakpoint-2col) {
      max-width: 95%;
    }
    @media (min-width: @breakpoint-3col) {
      max-width: 90%;
    }
  }

  .faq__answer-subheadline {
    display: block;
    margin-top: 5px;
    font-weight: 400;
  }

  .faq__answer-subheadline:first-child {
    margin-top: 0;
  }

  .faq__answer-video {
    display: block;
    margin: 3px auto 15px;
    width: 100%;
    height: auto;
    @media (min-width: @breakpoint-2col) {
      width: 560px;
      height: 315px;
      margin-left: 0;
    }
  }

  .faq_back-to-top {
    position: -webkit-sticky;
    position: sticky;
    bottom: 15px;
    right: 0px;
    width: 30px;
    height: 20px;
    border: 1.5px solid @grey-dark;

  }
}
