@import (reference) "../../ksf-colors";

.static-page__letter-to-editor {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .letter-to-editor__sub-headline {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .letter-to-editor__info {
    padding-bottom: 10px;
  }

  .letter-to-editor__form {
    margin-top: 30px;
    margin-left: -18px;
  }
}
