@import (reference) "../../ksf-colors";

.static-page__contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .contact__form-new-site {
    margin: 5px 0;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .contact__form-new-site:last-child {
    margin-bottom: 20px;
  }

  .contact__info-links-container {
    margin: 20px 0;
  }

  .contact__form-container {
    margin-top: 20px;
  }

  .contact__form-subject-list {
    list-style: circle inside;
    padding-top: 10px;
    margin-bottom: 30px;
  }

  .contact__form {
    margin-top: 20px;
    margin-left: -18px;
  }

  .contact__info {
    margin-top: 20px;
  }

  .contact__info-headline {
    font-size: 1.8rem;
    padding-top: 70px;
    @media (min-width: @breakpoint-2col) {
      padding-top: 110px;
    }
    @media (min-width: @breakpoint-3col) {
      padding-top: 130px;
    }
  }

  .contact__info-subheadline {
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 1.5rem;
    @media (min-width: @breakpoint-2col) {
      margin-top: 40px;
    }
    @media (min-width: @breakpoint-3col) {
      margin-top: 60px;
    }
  }

  .contact__info-subheadline:last-of-type {
    margin-top: 0;
    padding-top: 70px;
    @media (min-width: @breakpoint-2col) {
      padding-top: 110px;
    }
    @media (min-width: @breakpoint-3col) {
      padding-top: 130px;
    }
  }

  .contact__info-editorial {
    margin-top: 20px;
  }

  .contact__info-editorial:last-of-type {
    margin-bottom: 50px;
    @media (min-width: @breakpoint-3col) {
      margin-bottom: 100px;
    }
  }
}
