@import (reference) "../../ksf-colors";

.static-page__contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  
  .contact__form-new-site {
    margin: 5px 0;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .contact__form-new-site:last-child {
    margin-bottom: 20px
  }

  .contact__info-links-container {
    margin: 20px 0;
  }

  .contact__form-container {
    margin-top: 20px;
  }

  .contact__form-subject-list {
    list-style: circle inside;
    padding-top: 10px;
    margin-bottom: 30px;
  }

  .contact__form {
    margin-top: 20px;
    margin-left: -18px;
  }

  .contact__info {
    margin-top: 20px;
  }

  .contact__info-headline {
    font-size: 1.7rem;
    padding-top: 30px;
  }

  .contact__info-headline:last-of-type {
    margin-bottom: 7px;
  }

  .contact__info-subheadline {
    margin-top: 20px;
    margin-bottom: 7px;
  }

  .contact__info-editorial {
    margin-top: 20px;
  }
}
