@import (reference) "../../ksf-colors";

.static-page__customer-service {
  display: flex;
  flex-direction: column;

  .customer-service__headline {
    margin: 20px 0;
    font-size: 2.2rem;
    line-height: 1;
  }

  .customer-service__menu-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 25px;
  }

  .customer-service__menu-button {
    margin: 10px 0;
    padding: 10px 0;
    border: .5px solid @grey-dark;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }

  a:link, a:visited {
    text-decoration: none;
    color: #333 !important;
  }
}
