@import (reference) "../../ksf-colors";

.mosaico--static-page {
  grid-area: main;
  font: 300  1.07rem "Roboto";
  line-height: 1.2;
  color: #333;
  padding: 0 18px;

  h1, h2 {
    font-family: "Duplex Sans", sans-serif;
  }

  a:link, a:visited {
    text-decoration: none;
    color: @link;
  }
}
