@import (reference) "../../ksf-colors";

.static-page__tip {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .tip__info-headline {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .tip__form-container {
    margin-top: 50px;
    margin-left: -18px;
    @media (min-width: @breakpoint-3col) {
      margin-top: 100px;
    }
  }

}
